<div ui-content-for="title" >
    <span>管理团队</span>
</div>

<div class="scrollable" style="background: #f5f5f5;">
    <div class="scrollable-content">
        <article class="wx-mainbody">
            <div class="about-holder margin-t-05rem">

                <div class="team">
                    <h3 class="ui-border-b"><strong>创始团队</strong></h3>
                    <div class="items">
                        <div class="pic"><img src="../images/tou01.png" width="80%" height="" alt="" /></div>
                        <aside>
                            <h5>王尔明<span>联合创始人</span></h5>
                            <p>华南理工大学学士，解放军信息工程学院研究生。王尔明先生曾先后任职物美集团、中华网等内外资知名企业，作为国内90年代末第一批“触网”人士，加之其对互联网动态及相关技术研发的精准把控，于2000年投身自主创业领域，创建国内协同软件知名品牌；成功积累15年企业管理经验，对企业运营及团队打造具有资深见解。2013年底融入互联网金融大潮，创建抱财网。</p>
                        </aside>
                    </div>

                    <div class="items">
                        <div class="pic"><img src="../images/tou03.png" width="80%" height="" alt="" /></div>
                        <aside>
                            <h5>张志威<span>联合创始人</span></h5>
                            <p>山西财经大学经济学学士，中国政法大学法学硕士。现任中关村工商联理事，北京律师协会并购与重组专业委员会委员，投资并购领域资深律师，知名律师事务所合伙人，兼任多个国有控股企业监事职务。张志威先生长期活跃于投融资行业，在银行业务、民间金融、资产处置、股权投资、收购兼并等领域拥有十五年以上实操经验。2013年底与合伙人共同创建抱财网。</p>
                        </aside>
                    </div>

                    <div class="items">
                        <div class="pic"><img src="../images/tou02.png" width="80%" height="" alt="" /></div>
                        <aside>
                            <h5>徐展勤<span>联合创始人</span></h5>
                            <p>中国政法大学法学学士、北京大学两岸工商总裁同学会副会长。现任民革中央专委会委员、中国小额信贷联盟理事及行业执委、北京市网贷行业协会理事。徐展勤先生曾任乐视网创始团队成员，先后联合创建数家融资性担保公司、小额贷款公司。2013年底与合伙人共同创建抱财网。</p>
                        </aside>
                    </div>
                </div>

                <div class="team">
                    <h3 class="ui-border-b"><strong>高管团队</strong></h3>
                    <div class="items">
                        <div class="pic"><img src="../images/tou04.png" width="80%" height="" alt="" /></div>
                        <aside>
                            <h5>林凯<span>副总裁</span></h5>
                            <p>20年以上金融业投资理财相关经验，持有证券、期货、保险及CFP等多种金融从业资格。曾于中国三大证券公司之一的南方证券任职近10年，后任职中关村证券行政清理组，2006年先后在北京农商银行、韩亚银行（中国）负责产品及理财业务，对理财产品的项目开发及业务管理有着丰富的理论知识及实践经验。</p>
                        </aside>
                    </div>

                    <div class="items">
                        <div class="pic"><img src="../images/tou05.png" width="80%" height="" alt="" /></div>
                        <aside>
                            <h5>孙明华<span>副总裁</span></h5>
                            <p>曾任职阿里巴巴、摩托罗拉、诺基亚、霍尼韦尔等国内外知名大型企业，拥有20年以上互联网企业战略及运营管理经验。于2015年加盟抱财网，负责企业内部管控及整体战略规划。</p>
                        </aside>
                    </div>

                    <div class="items">
                        <div class="pic"><img src="../images/tou09.png" width="80%" height="" alt="" /></div>
                        <aside>
                            <h5>姚毅婧<span>副总裁</span></h5>
                            <p>毕业于中国传媒大学新闻学系，就读于清华五道口金融学院、中国政法大学金媒班，中国互联网金融行业首批资深媒体人。曾任中国国际广播电台-国际在线高级记者、财经主编；中国网财经主编。任职媒体期间，为历年全国两会、达沃斯论坛、博鳌亚洲论坛等各类国际、国家大型活动首席记者。获得全国人大常委会颁发的人大新闻奖一等奖，并获得优秀共产党员等荣誉称号。分管抱财网品牌工作。</p>
                        </aside>
                    </div>

                    <div class="items">
                        <div class="pic"><img src="../images/tou08.png" width="80%" height="" alt="" /></div>
                        <aside>
                            <h5>李健<span>副总裁</span></h5>
                            <p>11年互联网行业经验，其中9年金融垂直行业经验，在财经社区、互联网金融业务、电子商务、第三方支付、证券投顾方面有深厚积累。曾就职于支付宝、快钱、金融界等多家知名企业，拥有丰富的团队管理经验，擅长市场运营、渠道建设、产品设计等全业务链条。全面负责抱财网运营工作。</p>
                        </aside>
                    </div>

                    <div class="items">
                        <div class="pic"><img src="../images/tou10.png" width="80%" height="" alt="" /></div>
                        <aside>
                            <h5>白绍琛<span>副总裁</span></h5>
                            <p>武汉理工大学建筑学学士、重庆大学房地产MBA。有房地产行业20年以上的从业经验，参与、管理过数十项国内外房产项目，从设计到项目管理，熟悉房地产各个开发环节，了解房地产开发流程中各阶段资金使用情况。能准确评估房产项目的优劣，敏锐把握房地产金融中的风险点，并设计相应的交易结构。负责房地产金融板块。</p>
                        </aside>
                    </div>

                    <div class="items">
                        <div class="pic"><img src="../images/tou11.png" width="80%" height="" alt="" /></div>
                        <aside>
                            <h5>任建生<span>副总裁</span></h5>
                            <p>北京工商大学经济学学士，会计师。12年医疗行业及上市公司财务管理工作经验。在医疗集团管理咨询、医院投融资与并购、医院运营与分析、境内外上市公司财务管理与税收筹划有着丰富的管理经验。负责医疗金融板块。</p>
                        </aside>
                    </div>

                </div>
            </div>

        </article>
     </div>

</div>
