<div ui-content-for="title" >
    <span>安全保障</span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
              <article class="wx-mainbody">
                  <div class="about-holder">
                      <div class="safe">
                          <div class="aboutus-disline">
                              <span class="aboutus-radius pos-01"></span>
                              <span class="aboutus-radius pos-02"></span>
                              <span class="aboutus-radius pos-03"></span>
                              <span class="aboutus-radius pos-04"></span>
                              <span class="aboutus-radius pos-05"></span>
                          </div>


                          <div class="items word1">
                              <div class="pic ui-center"></div>
                              <div class="msg">
                                  <h5>严格执行最低<br>准入门槛原则</h5>
                                  <p>不达准入标准不予立项</p>
                              </div>
                          </div>

                          <div class="items word2">
                              <div class="pic ui-center"></div>
                              <div class="msg">
                                  <h5>忠实履行项目<br>尽调职责</h5>
                                  <p>全面考察融资主体信用状况及担保物状况</p>
                              </div>
                          </div>

                          <div class="items word3">
                              <div class="pic ui-center"></div>
                              <div class="msg">
                                  <h5>专业委员会风<br>控机制</h5>
                                  <p>由专业人士全方位审核项目风险</p>
                              </div>
                          </div>

                          <div class="items word4">
                              <div class="pic ui-center"></div>
                              <div class="msg">
                                  <h5>足额抵质押等<br>担保模式</h5>
                                  <p>多种保证措施降低项目风险</p>
                              </div>
                          </div>

                          <div class="items word5">
                              <div class="pic ui-center"></div>
                              <div class="msg">
                                  <h5>标准化贷后管<br>理流程</h5>
                                  <p>借款主体信息定期跟踪及时应对贷后风险</p>
                              </div>
                          </div>
                      </div>
                  </div>

              </article>
     </div>

</div>
