<div ui-content-for="title" >
    <span>抱财简介</span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <article class="wx-mainbody">
            <div class="about-holder">
                <div class="summary">
                    <img src="../images/summary-top.jpg" width="100%" height="" alt="" style="display:block;" />

                    <h3 class="ui-border-b"><strong>平台优势</strong></h3>
                    <div class="msg">
                        <p>抱财网，上市公司凯乐科技（600260）成员企业，北京中联创投电子商务有限公司旗下专业化的互联网金融平台。</p>
                        <p>抱财网基于先进的理念与互联网技术，搭建规范、专业、高效的互联网金融信息服务平台。一方面，为投资者提供优质的财富增值渠道，另一方面，专注于特色资产，为中小微企业和供应链上下游企业提供一揽子金融信息解决方案。自2014年上线以来，获得具有上市公司背景的凯乐科技（600260）与康得投资集团的战略投资。</p>
                        <p>作为上市公司成员企业，抱财网所发行的产品全部基于真实、合规的项目，信息披露秉承公开、透明的原则，通过多层次的风控体系与健全的风险准备金银行存管制度，构建双重保险机制，从而更大程度地降低投资风险。抱财网始终坚持产品创新、技术创新，以产融结合为引擎，推动我国普惠金融事业发展，助力我国实体经济蓬勃向前。</p>
                        <p>抱财网为中国互联网金融协会首批会员；并联合发起创立北京市网贷行业协会，成为创始会员。</p>
                    </div>

                    <h3 class="ui-border-b"><strong>平台优势</strong></h3>
                    <table cellpadding="0" cellspacing="0" border="0" class="platform">
                        <tbody>
                        <tr>
                            <td width="55px"><img src="../images/plat01.png" width="" height="" alt="" /></td>
                            <td>
                                A股市场上市公司凯乐科技（600260）及大型产业集团－康得投资集团强大企业实力支持；
                            </td>
                        </tr>
                        <tr>
                            <td><img src="../images/plat02.png" width="" height="" alt="" /></td>
                            <td>依托凯乐科技及康得集团三十余年的实业根基，建立了安全、稳健经营理念和优质资产来源；</td>
                        </tr>
                        <tr>
                            <td><img src="../images/plat03.png" width="" height="" alt="" /></td>
                            <td>抱财网创始人及核心管理团队拥有多年银行、证券、信托、基金、法律等机构的从业经验，在风险控制、产品创新、技术研发等方面具备优势；</td>
                        </tr>
                        <tr>
                            <td><img src="../images/plat04.png" width="" height="" alt="" /></td>
                            <td>率先加入央行征信中心下属上海资信有限公司，网络金融征信系统（NFCS）；</td>
                        </tr>
                        <tr>
                            <td><img src="../images/plat05.png" width="" height="" alt="" /></td>
                            <td>成功接入北京市网贷行业协会“产品登记和信息披露系统”。</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </article>

    </div>

</div>
