<div ui-content-for="title" >
    <span>了解抱财</span>
</div>

<div class="scrollable" style="background: #f5f5f5">
    <div class="scrollable-content">
             <article class="wx-mainbody">
                 <div class="about-holder" style="position: absolute; height: 91%;">
                     <div class="baocai-logo"></div>
                     <div class="nav-list">
                         <a href="/#/aboutus/summary" class="ui-col ui-center"><span class="ui-icon nav1"></span><b>抱财简介</b></a>
                         <a href="/#/aboutus/team" class="ui-col ui-center"><span class="ui-icon nav2"></span><b>管理团队</b></a>
                         <a href="/#/aboutus/safe" class="ui-col ui-center"><span class="ui-icon nav3"></span><b>安全保障</b></a>
                         <a href="/#/aboutus/data" class="ui-col ui-center"><span class="ui-icon nav4"></span><b>平台数据</b></a>
                     </div>
                     <div class="tel"><a id="tel" href="">抱财热线：400-616-7070</a><p></p></div>
                 </div>

             </article>
   </div>
</div>
<footer class="btm-bg"></footer>
