<div ui-content-for="title" >
    <span>40倍银行收益</span>
</div>
<div class="scrollable" >
    <div class="scrollable-content section k_privilege">
        <div class="k_privilege_head">40倍银行收益</div>
        <div class="k_privilege_main">
            <dl>
                <dt class="special_blue">高收益的原因</dt>
                <dd>
                    <ol>
                        <li>保证安全基础上，最大化让利给主人</li>
                        <li>管家对接的债权，均为管家母公司自建渠道提供，屏蔽第三方利益攫取。</li>
                    </ol>
                </dd>
            </dl>
        </div>
    </div>
</div>
