<div ui-content-for="title" >
    <span>体验金规则</span>
</div>
<div class="scrollable" >
    <div class="scrollable-content section k_privilege">
        <div class="k_privilege_head">规则</div>
        <div class="k_privilege_main">
            <dl>
                <dt>如何获取?</dt>
                <dd>
                    <ol>
                        <li>特定活动时，管家会根据情况给主人赠送体验金</li>
                    </ol>
                </dd>
            </dl>
            <dl>
                <dt>如何使用？</dt>
                <dd>
                    <ol>
                        <li>体验金有效期为7天</li>
                        <li>每笔体验金不能分拆使用</li>
                        <li>体验金只能用于投资体验标</li>
                    </ol>
                </dd>
            </dl>
            <dl>
                <dt>如何领取收益？</dt>
                <dd>
                    <ol>
                        <li>体验金投资体验标的收益直接进入主人的账户</li>
                        <li>体验金所得收益，可用于投资或取现</li>
                        <li>收益计算公式为:<br>
                         体验金投资额*体验标年利率(XX%)/365*投标天数</li>
                    </ol>
                </dd>
            </dl>
        </div>
    </div>
</div>
