<div ui-content-for="title" >
    <span>投资</span>
</div>
<div class="scrollable" ng-controller="CaseDoughController">  
    <div class="scrollable-content k_ptblr" ng-init="getTenderInfo()" >  
        <div class="k_clear k_invests_txt">
            <div class="k_col_6">可投金额：{{availableAmount}}元</div>
            <div class="k_col_6">可用体验金：{{availableBalance}}元</div>
        </div>
        <form role="form" name="investForm" ng-init="getTenderMoneyList()">
            <div class="k_input k_invests_money" bc-focus="input">
                <select id="selectCaseDough"  style="width:100%;height:35px;"
                        ng-model="currentPeriod" 
                        ng-change="change()"
                        ng-options="option.money for option in model"> 
                    <option value="">请选择体验金</option>
                </select>  

            </div>
            <!-- <div class="k_btn k_invests_next">
                 <input type="button" ui-turn-on="modal1"
                        value="马上投资" ng-click="investBc(investAmount)" />-->
            <div ng-show="availableBalance!=='0'" class="k_btn k_invests_next"  bc-focus="button" ng-click="doTender()">
                <button >马上投资</button>


                <div class="" >
                    <script type="text/ng-template" id="mustBigThanNumber">
                        <div class="k_layer">
                        <div class="k_layer_txt"><p>可投金额不足</p></div>
                        <div class="common_popup_bottom_btns">
                            <button ng-click="ok()" class="single_btn">确定</button>
                        </div>
                        </div>
                    </script>
                </div>

                <script type="text/ng-template" id="investSuccess">
                    <div>
                    <div class="k_layer"  ng-init="vvv()">
                    <div class="k_layer_txt"><p>恭喜您，完成体验标投资，您的收益将于{{recoverTime}}到账，请注意查收</p></div>
                    <div class="k_clear">
                    <div class="common_popup_bottom_btns">
                        <button ng-click="ok()"  class="same_btn">继续投资</button>
                        <button ng-click="toSomePlace(pathAll.listOfExperience)" class="k_check_log same_btn">查看投资记录</button>
                    </div>
                    </div>
                    </div>
                    </div>
                </script>

            </div>
            <div ng-show="availableBalance=='0'" class="k_btn k_invests_next k_btn_gray"  bc-focus="button">
                <button >马上投资</button>
            </div>
    </div>  

</form>    
</div>
</div>






