<div ui-content-for="title" >
    <span>修改交易密码</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content section k_ptblr"  >        
        <form role="form">
            <fieldset>
                <div class="k_input" bc-focus="input">
                    <input type="password" 
                           ng-model="paypasswordBc"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                            onpaste="return false"
                           placeholder="当前交易密码"/>
                </div>
                <div class="k_input k_change_password_set" bc-focus="input">
                    <input type="password"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           ng-model="newPaypwdBc"
                            onpaste="return false"
                           placeholder="设置新交易密码"  />
                </div>
                <div class="k_input k_change_password_sure" bc-focus="input">
                    <input type="password"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           ng-model="repeatPaypwdBc"
                            onpaste="return false"
                           placeholder="确认新密码"  />
                </div>
            </fieldset>
            <div class="k_btn k_change_password_next" bc-focus="input">
                <button ng-click="modifyPaypassword()" >确定</button>
            </div> 
            <p class="k_change_password_txt"><a href='' ng-click="realinfo()">找回交易密码</a></p> 
        </form>
    </div>
</div>
<div ui-content-for="modals">
    <div ng-include="'change_login_modal.html'"></div>
</div>