<div ui-content-for="title" >
    <span>修改登录密码</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content section k_ptblr">        
        <form role="form" >
            <fieldset>
                <div class="k_input" bc-focus="input">
                    <input type="password"
                           ng-model="passwordBc"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           onpaste="return false"
                           placeholder="当前登录密码"/>
                </div>
                <div class="k_input k_change_password_set" bc-focus="input">
                    <input type="password"
                           ng-model="newPwdBc"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           onpaste="return false"
                           placeholder="设置新登录密码"  />

                </div>
                <div class="k_input k_change_password_sure" bc-focus="input">
                    <input type="password"
                           ng-model="repeatPwdBc"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           onpaste="return false"
                           placeholder="确认新密码"  /> 
                </div>
            </fieldset>
            <div class="k_btn k_change_password_next" bc-focus="input">
                <button ng-click="modifyPassword()">确定</button>
            </div> 
        </form>
    </div>
</div>

<div ui-content-for="modals">
    <div ng-include="'change_login_modal.html'"></div>
</div>

