
<div ui-content-for="title" >
    <span>修改交易密码</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content"  >     
    
    	<article class="wx-mainbody">
		 <div class="tips-area"><i class="icon-warn"></i>长度在6-16位英文、数字或下划线组合</div>
		 <ul class="wx-form-list margin-t-1rem">
		     <li><label>原交易密码</label>
		     	<input type="password" 
                           ng-model="paypasswordBc"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                            onpaste="return false"
                           placeholder="请输入原交易密码"/>
		     </li>
		     <li><label>新交易密码</label>
		     	<input type="password"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           ng-model="newPaypwdBc"
                            onpaste="return false"
                           placeholder="请输入新交易密码"  /> 
		     </li>
		     <li><label>重复交易密码</label>
		     	<input type="password"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           ng-model="repeatPaypwdBc"
                            onpaste="return false"
                           placeholder="请输入重复交易密码"  />
		     </li>
		 </ul>
		
		    <div class="btn-area-com margin-t-1-5rem" bc-focus="input">
		        <a href="javascript:void(0)" class="orange-radius-btn wd-94" ng-click="modifyPaypassword()">完成</a>
		    </div>
		
		    <div class="find-trade-pw">
		    	<a href="javascript:void(0)" ng-click="realinfo()"><i class="icon-question"></i>找回交易密码</a>
		    </div>
		</article>
		
    </div>
</div>
<div ui-content-for="modals">
    <div ng-include="'change_login_modal.html'"></div>
</div>