<div ui-content-for="title">
    <span>待收资金</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content k_p0" >
        <div class='section k_p0' >
            <ui-state id='activeTab' default='1'></ui-state>
            <div class="btn-group justified nav-tabs k_index_nav">
                <a ui-set="{'activeTab': 1}" 
                   ui-class="{'active': activeTab == 1}" class="btn btn-default" >月计划</a>

                <a ui-set="{'activeTab': 2}" 
                   ui-class="{'active': activeTab == 2}" class="btn btn-default">季计划</a>

                <a ui-set="{'activeTab': 3}" 
                   ui-class="{'active': activeTab == 3}" class="btn btn-default" >年计划</a>

                <a ui-set="{'activeTab': 4}" 
                   ui-class="{'active': activeTab == 4}" class="btn btn-default" >体验标</a>

            </div>  
            <div ui-if="activeTab == 1">
                <div class="k_collection_money" ng-init="getRepayment('month')">
                    <ul class="k_clear">
                        <li class="k_col_6">待收金额（元）</li>
                        <li class="k_col_6">到账日期</li>
                    </ul>
                    <div ng-repeat="y in investsPayment">
                        <ul class="k_clear">
                            <li class="k_col_6">{{y.receivingPrincipalInterest}}</li>
                            <li class="k_col_6">{{y.recoverTime}}</li>
                        </ul>

                    </div>
                    <div ng-show="notifyMessage" >{{notifyMessage}}</div>
                </div>
            </div>

            <div ui-if="activeTab == 2">
                <div class="k_collection_money" ng-init="getRepayment('quarter')">
                    <ul class="k_clear">
                        <li class="k_col_6">待收金额（元）</li>
                        <li class="k_col_6">到账日期</li>
                    </ul>
                    <div ng-repeat="y in investsPayment">
                        <ul class="k_clear">
                            <li class="k_col_6">{{y.receivingPrincipalInterest}}</li>
                            <li class="k_col_6">{{y.recoverTime}}</li>
                        </ul>
                    </div>
                    <div ng-show="notifyMessage" >{{notifyMessage}}</div>
                </div>
            </div>

            <div ui-if="activeTab == 3">
                <div class="k_collection_money" ng-init="getRepayment('year')">
                    <ul class="k_clear">
                        <li class="k_col_6">待收金额（元）</li>
                        <li class="k_col_6">到账日期</li>
                    </ul>
                    <div ng-repeat="y in investsPayment">
                        <ul class="k_clear">
                            <li class="k_col_6">{{y.receivingPrincipalInterest}}</li>
                            <li class="k_col_6">{{y.recoverTime}}</li>
                        </ul>
                    </div>
                    <div ng-show="notifyMessage" >{{notifyMessage}}</div>
                </div>
            </div>

            <div ui-if="activeTab == 4">
                <div class="k_collection_money"  ng-controller="CaseDoughController">
                    <div ng-init="getWaitAccountList()">
                        <ul class="k_clear">
                            <li class="k_col_6">待收金额（元）</li>
                            <li class="k_col_6">到账日期</li>
                        </ul>
                        <div ng-repeat="y in waitAccountList">
                            <ul class="k_clear">
                                <li class="k_col_6">{{y.accountInterest}}</li>
                                <li class="k_col_6">{{y.recoverTime}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
