<div ui-content-for="title" >
    <span>优惠券规则</span>
</div>
<div class="scrollable">
<article class="wx-mainbody scrollable-content">
    <div class="wx-cont-wrap margin-t-1-2rem">
        <div class="txt-cont">
              <h2 class="title-pro-detail">红包券规则</h2>
              <div class="cont-box-com">
                   <ul class="wx-rule-list-com">
                      <li><i>1</i>所有红包券仅限带“红包券”字标识的项目使用。 </li>
                      <li><i>2</i>请在有效期内尽快使用，过期无效。 </li>
                      <li><i>3</i>红包券有起投金额要求和标的期限要求，具体参见我的红包券中的“使用条件”。 </li>
                      <li><i>4</i>每张红包券仅限使用一次。有两张或以上红包券，优先使用金额大的红包券，投资时自动触发使用立即转为红包奖励，红包券不可叠加使用，每次投资仅限使用1张。 </li>
                      <li><i>5</i>自动投标时，系统根据条件判断，符合以上条件时自动使用红包券。 </li>
                      <li><i>6</i>红包奖励在投资完成后，实时发放到资金账户中，红包奖励可用于再次投资或提现。</li>
                   </ul>
                   <div class="hot-tel">详询400-616-7070</div>
              </div>
        </div>
        <div class="txt-cont">
            <h2 class="title-pro-detail">加息券规则</h2>
            <div class="cont-box-com">
                <ul class="wx-rule-list-com">
                    <li><i>1</i>加息券适用于有“加息券”标识的标的（债权转让、体验标、新手标不适用本券）。</li>
                    <li><i>2</i>请在有效期内尽快使用，过期无效。</li>
                    <li><i>3</i>加息券有起投金额要求，具体参见我的加息券中的“使用条件”。</li>
                    <li><i>4</i>每张加息券仅限使用一次。若同时有两张或以上加息券，系统默认使用满足条件下的最大加息率使用，加息券不可叠加使用，每次投资仅限使用1张。</li>
                    <li><i>5</i>自动投标时，系统根据条件判断，符合以上条件时自动使用加息券。</li>
                    <li><i>6</i>总加息计算公式为：投资金额×加息率÷12×n（n为投资标的期限）。</li>
                    <li><i>7</i>加息利息不体现合同中，加息奖励将于每月还款日当日自动发放至用户抱财账户，每月加息奖励计算方式：投资金额×加息率÷12，n月标的分n次发放。债权转让成功时，加息奖励停止发放。</li>
                </ul>
                <div class="hot-tel">详询400-616-7070</div>
            </div>
        </div>
    </div>
</article>
</div>
