<div ui-content-for="title" >
    <span>投资人列表</span>
</div>
<div class="scrollable" ng-controller="CaseDoughController">
    <div class="scrollable-content section invests_p_list" ui-scroll-bottom='bottom()' ui-scroll-top='top()' ng-init="getInvestRecord()">
        <div >
            <div class="invests_p_list_head k_clear" >
                <div class="k_col_3">投标人</div>
                <div class="k_col_5">投资时间</div>
                <div class="k_col_4">投资金额(元)</div>
            </div>
            <div ng-repeat="x in investsPerson" class="invests_p_list_content k_clear">
                <div class="k_col_3">{{x.tenderer}}</div>
                <div class="k_col_5">{{x.investmentTime}}</div>
                <div class="k_col_4">{{x.investmentAmount}}</div>  
            </div>

        </div>
    </div>
    <div class=" navbar-absolute-bottom">
        <div ng-show="availShow==true">
            <div class="k_btn k_btn_invest"  bc-focus="button" ng-click="bcChangeUrl(bcAllUrl.caseDoughInvest)">
                <button ng-click="getTenderInfoDetail(ids)" >马上投资</button>
            </div> 
        </div>
        <div ng-show="availShow==false" >
            <div class="k_btn k_btn_invest k_btn_gray" bc-focus="button">
                <button type="button" value="马上投资" >马上投资</button>
            </div> 
        </div>

    </div>
</div>