<div>
    <div ng-show="detailButton === false">
        <div class="k_index_circle k_pr" ng-model="widthScreen">
        		<div class="k_limit_tip" ng-if="financingData.year[0].isLimit">限量标</div>
        	
            <div>
                <progress-arc  size="{{widthScreen}}" background="#b6b6b6" complete="financingData.year[0].tenderSchedule/200" stroke="#2892ff" stroke-width="4" ></progress-arc>
            </div>
            <div class="k_circle_second">
                <progress-arc  size="{{widthScreen}}" background="" complete="financingData.year[0].tenderSchedule/200" stroke="#2892ff" counter-clockwise="1" stroke-width="4" ></progress-arc>
            </div>
            <ul>
                <li>
                	期限{{financingData.year[0].investmentHorizon}}<span ng-show="financingData.year[0].isReward==1" class="qiang_tag">{{financingData.year[0].promotionTitle | limitTo:1}}</span>
                	<p>
                		<b ng-show="+financingData.year[0].isBonusticket == 1" class="tip_red">红包券</b>
	                	<b ng-show="+financingData.year[0].isTag == 1" class="tip_red">{{financingData.year[0].tagTitle}}</b>
	                	<b ng-show="+financingData.year[0].isAllowIncrease == 1" class="tip_red">加息券</b>
                	</p>
                </li>
                <li ng-class="{'apr': financingData.year[0].increaseApr > 0}">{{financingData.year[0].annualRate}}<span>%</span><span ng-if="financingData.year[0].increaseApr > 0">+{{financingData.year[0].increaseApr}}%</span></li>
                <li>年利率</li>
                <li ng-click="changeStatus(detailButton)">查看详情 >> </li>
            </ul>
        </div>
        <div class="k_clear k_index_txt">
            <!--
            <div ng-controller="AccountController" class="k_col_7" style="display:none">
                <div  ng-show="tIsShow == false">注册可获加息 <span>0.5%</span></div>
                <div ng-init="getTAccount()" >
                    <div  ng-show="tIsShow == true"class="text-left" >特权加息 <span>{{tValue}}%</span></div>
                </div>
            </div>
            -->
            <div class="k_col_5">可投金额 <span>{{financingData.year[0].availableAmount}}</span></div>
            <div class="k_col_7" ng-click="gotoinvestlist()">查看更多项目 >> </div>
        </div>
        <div ng-show="yearShow == true">
            <div ng-controller="InvestsController" ng-if="!financingData.year[0].isLimit || financingData.year[0].limitTime <= 0" class="k_btn k_index_btn" bc-focus="button">
                <button ng-click="getTenderInfoDetail(financingData.year[0].id)" >马上投资</button>
            </div>
            <div ng-if="financingData.year[0].isLimit && financingData.year[0].limitTime > 0" class="k_btn k_index_btn k_btn_gray button">
            	<button><span class="sale_over_style">距开始还有{{financingData.year[0].timer}}</span></button>
            </div>
        </div>
        <div ng-show="yearShow == false">
            <div ng-controller="InvestsController" class="k_btn k_index_btn k_btn_gray" bc-focus="button">
                <button >
                    <span ng-show="financingData.year[0].tenderLastTime==''">马上投资</span>
                    <span ng-show="financingData.year[0].tenderLastTime!=''" class="sale_over_style">{{financingData.year[0].tenderLastTime}} 抢光</span>
                </button>
            </div>
        </div>
        <div class="f_insurance_tip">
        <!--
            <span ng-show="financingData.year[0].tenderLastTime==''">携手阳光保险，账户安全升级</span>
        -->
            <span ng-show="financingData.year[0].tenderLastTime!=''">每日上午10点发标，其余时间随机，100元起投</span>
        </div>
                
        <div class="f_foot_con">
            <div class="downtip">投资有风险&nbsp;&nbsp;选择需谨慎</div>
        </div>

    </div>
    <div ng-show="detailButton === true">
        <div>
            <div class="k_details_rate k_clear" ng-controller="InvestsController">
                <div class="k_col_6">年利率</div>
                <div class="k_col_6" ng-init="getTenderPeopleNum('year')">累计加入<span>{{tenderPeopleNum}}</span>人</div>
            </div>
            <div class="k_details_num">{{financingData.year[0].annualRate}}<span>%</span><span ng-if="financingData.year[0].increaseApr > 0">+{{financingData.year[0].increaseApr}}%</span></div>
            <div class="k_clear k_index_txt">
                <!--
                <div ng-controller="AccountController" class="k_col_7" >
                    <div  ng-show="tIsShow == false">注册可获加息 <span>0.5%</span></div>
                    <div ng-init="getTAccount()" >
                        <div  ng-show="tIsShow == true"class="text-left" >特权加息 <span>{{tValue}}%</span></div>
                    </div>
                </div>
                -->
                <div class="k_col_5">可投金额 <span>{{financingData.year[0].availableAmount}}</span></div>
            </div>
        </div>
        <div class="k_details_list">
            <div class="k_clear">
                <div class="k_col_6">买入金额</div>
                <div class="k_col_6">100元起投</div>
            </div>
            
            <div ng-controller="InvestsController" >
                <div ng-click="getInvestPersonList(financingData.year[0].id, financingData.year[0].tenderSchedule, financingData.year[0])" class="k_clear">
                    <div class="k_col_6">投资记录</div>
                    <div class="k_col_6">{{financingData.year[0].investmentNum}}人次></div>
                </div>
            </div>
             <div class="k_clear" ng-click="changeUrl(path.five)">
                <div class="k_col_6">资金去向</div>
                <div class="k_col_6">></div>
            </div>

        </div>
        <div ng-show="yearShow == true">
        	<!--
            <div ng-controller="InvestsController" class="k_btn k_details_button" bc-focus="button">
                <button ng-click="getTenderInfoDetail(financingData.year[0].id)">马上投资</button>
            </div>-->
            <div ng-controller="InvestsController" ng-if="!financingData.year[0].isLimit || financingData.year[0].limitTime <= 0" class="k_btn k_index_btn" bc-focus="button">
                <button ng-click="getTenderInfoDetail(financingData.year[0].id)" >马上投资</button>
            </div>
            <div ng-if="financingData.year[0].isLimit && financingData.year[0].limitTime > 0" class="k_btn k_index_btn k_btn_gray button">
            	<button><span class="sale_over_style">距开始还有{{financingData.year[0].timer}}</span></button>
            </div>
        </div>
        <div ng-show="yearShow == false" bc-focus="button">
            <div ng-controller="InvestsController" class="k_btn k_details_button k_btn_gray">
                <button>马上投资</button>
            </div> 
        </div>
    </div>
</div>