<div ui-content-for="title" >
    <span>找回交易密码</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content section k_ptblr" ng-init="getUsersSettingInfo()">        
        <form role="form" >
            <fieldset>
                <div class="k_pr k_find_deal_password_yzm" ng-model="userPhone">
                    <div class="k_find_deal_password_num" ng-show="phoneShow" >
                        手机号:
                        <span ng-show="userPhone" >
                            {{userPhone}}
                        </span>
                    </div>
                    <div class="k_input k_reg_yzm k_pr" style="padding-top:0px;" ng-show="!phoneShow" bc-focus="input" >
                        <input type= "text" 
                               my-blur="validatePhone(newPhone)" 
                               onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                               oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                               placeholder="请填写电话号码" ng-model="newPhone">
                    </div>
                    <div ng-show="statusClock == true" class="k_yzm" ng-click="phoneValidateCode()"  bc-focus="input">
                        <p ng-model="countdown">
                            <span ng-show="!countdown">发送验证码</span>
                            <span ng-show="countdown">已发送</span><span ng-show="countdown">{{countdown}}</span>
                        </p>
                    </div>
                    <div ng-show="statusClock == false" class="k_yzm" >
                        <p ng-model="countdown">
                            <span ng-show="!countdown">发送验证码</span>
                            <span ng-show="countdown">已发送</span><span ng-show="countdown">{{countdown}}</span>
                        </p>
                    </div>
                </div>
                <div class="k_input" bc-focus="input">
                    <input type="text"
                           ng-model="userCode"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           placeholder="输入验证码"  />
                </div>
            </fieldset>
            <div class="k_btn k_set_password_next" bc-focus="input">
                <button type="button" value="确定" ng-click="phoneValidate('resetPayPwd')" >确定</button>
            </div> 
        </form>
    </div>
</div>
