<div ui-content-for="title" >
    <span>验证手机号</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content" ng-init="getUsersSettingInfo()">      
    
    	<article class="wx-mainbody">
		 <ul class="wx-form-list margin-t-1rem">
		     <li><label class="short">手机号</label>
		     	<span ng-show="userPhone" >
                            {{userPhone}}
                        </span>
		     	<input type= "text" 
                               my-blur="validatePhone(newPhone)" 
                               onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                               oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                               placeholder="请填写电话号码" ng-model="newPhone">
		     	<div> 
		     		<div ng-show="statusClock == true" class="k_yzm" ng-click="phoneValidateCode()"  bc-focus="input">
                        <p ng-model="countdown">
                            <button class="validate-code-btn" ng-show="!countdown">发送验证码</button>
                            <button class="validate-code-btn" ng-show="countdown">已发送<span ng-show="countdown">{{countdown}}</span></button>
                        </p>
                    </div>
                    <div ng-show="statusClock == false" class="k_yzm" >
                        <p ng-model="countdown">
                            <button class="validate-code-btn" ng-show="!countdown">发送验证码</button>
                            <button class="validate-code-btn" ng-show="countdown">已发送<span ng-show="countdown">{{countdown}}</button>
                        </p>
                    </div>
		     	</div>
		     	</li>
		     <li>
		     	<input type="text"
                           ng-model="userCode"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           placeholder="请输入短信验证码"  />
		     </li>
		 </ul>
		
		    <div class="btn-area-com margin-t-1-5rem" bc-focus="input">
		        <a href="javascript:void(0)" class="orange-radius-btn wd-94" ng-click="phoneValidate('resetPayPwd')" >下一步</a>
		    </div>
		
		</article>
    
    </div>
</div>
