<div ui-content-for="title" >
    <span>找回交易密码</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content">   
    	<article class="wx-mainbody">
		 <div class="tips-area"></div>
		 <ul class="wx-form-list margin-t-1rem">
		     <li><label>身份证号</label>
		     	<input type="text"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           ng-model="checkIDcardValue"
                           placeholder="请输入您的身份证号"  />
		     </li>
		 </ul>
		
		    <div class="btn-area-com margin-t-1-5rem">
		        <a href="javascript:void(0)" class="orange-radius-btn wd-94" ng-click="checkIDcard()" >下一步</a>
		    </div>
		
		</article>
    </div>
</div>
