<div ui-content-for="title" >
    <span>我的加息券</span>
</div>
<div ui-content-for="navbarAction">
		<span ng-click="bcChangeUrl(bcAllUrl.increaseRules)" style="line-height:40px; margin:0 15px 0 0;">规则</span>
</div>
<div class="scrollable" ng-controller="IncreaseController">
	<div class="scrollable-content">
		<div class="increase_list">
			<div ng-if="list.length > 0">
				<ul>
					<li ng-repeat="items in list">
						<div class="num ui-center">
							<b>+{{items.apr}}</b><span>加息</span>
						</div>
						<div class="msg ui-center">
                                                                                                                           <p>标的带有加息券标识</p>
							<p>{{items.useMoney}}</p>
							<p>有效期至{{items.expiredTime}}</p>
						</div>
						<div style="clear:both;"></div>
					</li>
				</ul>
				<div class="f_click_to_more" ng-if="isMore" style="margin-top:0;" ng-click="getData()">点击加载更多</div>

			</div>
			
			<div class="increase_none" ng-if="list.length === 0 && !isMore">
				<img src="images/error_img_icon.png" width="" height="" alt="" style="width:10em; margin:0 0 10px;" />
				<p>您还没有可用的加息券</p>
			</div>
		</div>
	</div>

    <div class="footer"><button class="btn use-btn" ng-click="bcChangeUrl(bcAllUrl.investList)">立即使用</button></div>
</div>





