<div ui-content-for="title" >
    <span>加息券规则</span>
</div>
<div class="scrollable" >
    <div class="scrollable-content section k_privilege">
        <div class="k_privilege_head">规则</div>
        <div class="k_privilege_main">
            <dl>
                <dd>
                    <ol>
                        <li>加息券适用于有“加息券”标识的标的（债权转让、体验标、新手标不适用本券）；</li>
                        <li>请在有效期内尽快使用，过期无效；</li>
                        <li>加息券有起投金额要求，具体参见我的加息券；</li>
                        <li>每张加息券仅限使用一次。若同时有两张或以上加息券，系统默认使用满足条件下的最大加息率使用；</li>
                        <li>加息券和红包券无法同时使用；</li>
                        <li>自动投标时，系统根据条件判断，符合以上条件时自动使用加息券；</li>
                        <li>总加息计算公式为：投资金额×加息率÷12×n（n为投资标的期限）；</li>
                        <li>加息利息不体现合同中，加息奖励将于每月还款日当日自动发放至用户抱财账户，每月加息奖励计算方式：投资金额×加息率÷12，n月标的分n次发放。债权转让成功时，加息奖励停止发放。</li>
                    </ol>
                </dd>
            </dl>
            
            <!--
            <dl>
                <dd>
                    <ol>
                        <li>体验金有效期为7天</li>
                        <li>每笔体验金不能分拆使用</li>
                        <li>体验金只能用于投资体验标</li>
                    </ol>
                </dd>
            </dl>
            <dl>
                <dt>如何领取收益？</dt>
                <dd>
                    <ol>
                        <li>体验金投资体验标的收益直接进入主人的账户</li>
                        <li>体验金所得收益，可用于投资或取现</li>
                        <li>收益计算公式为:<br>
                         体验金投资额*体验标年利率(XX%)/365*投标天数</li>
                    </ol>
                </dd>
            </dl>-->
        </div>
    </div>
</div>
