<div ui-content-for="title" >
    <span>项目列表</span>
</div>
<div class="scrollable" ng-controller="InvestsController">
    <div class="f_if_tender_tip"  ng-init="getTenderHasOrNot()" ng-show="if_tender_tip_show==true" >每日上午10点发标，其余时间随机，100元起投</div>  
    <div class="scrollable-content"  ng-init="clickaddlist()" >
        <div class="list-group text-left" id="main">
          <div class="list-group-item list-group-item-home">

              <div class="k_list" ng-repeat="list in investsList">
                <div  ng-click="getInvestDetail(list.id,list.planName,list.isNew, list.limitTime)" style="overflow:hidden;">
                <div class="f_corner_tip">{{list.planName}}</div>
                <div class="f_year_rate">
                <b>年利率</b><span>{{list.annualRate}}%</span><span style="padding:0;" ng-if="list.increaseApr > 0">+{{list.increaseApr}}%</span>  
                <!--
                <em ng-show="list.isReward==1" class="qiang_tag">{{list.promotionTitle | limitTo:1}}</em>
                <em ng-show="list.isBonusticket==1" class="quan_tag">券</em>-->
                </div>
                <div class="f_tender_limit"><b>期限 </b><span>{{list.investmentHorizon}}</span></div>
                <div class="f_available_money" ng-show="{{list.tenderSchedule}}!=100"><b>可投金额</b><span>{{list.availableAmount}}</span></div>
                <div class="f_has_tender_num"  ng-show="{{list.tenderSchedule}}==100"><span>{{list.investmentNum}}</span><b>人投资</b></div>
                
                <div class="f_tender_ticket">
                	<em ng-show="list.isReward==1" class="take">{{list.promotionTitle | limitTo:1}}</em>
                	<em ng-show="+list.isBonusticket == 1">红包券</em>
                	<em ng-show="+list.isTag == 1">{{list.tagTitle}}</em>
                	<em ng-show="+list.isAllowIncrease == 1">加息券</em>
                </div>
                <div class="f_tender_detail_btn f_new_user_tender"  ng-show="{{list.tenderSchedule}}!=100 && {{list.isNew}}==1"  ng-click="getTenderInfoDetail(list.id)">新手投资</div>

                <div class="f_tender_detail_btn"  ng-show="{{list.tenderSchedule}}!=100 && {{list.isNew}}==0 && {{!list.isLimit}}" ng-click="getTenderInfoDetail(list.id)">马上投资</div>

                <div class="f_tender_detail_btn_dis"  ng-click="getInvestDetail(list.id,list.planName,list.isNew)" ng-show="{{list.tenderSchedule}}==100">已结束</div>
								
								<div class="f_tender_detail_btn" ng-class="{'disabled_btn' : list.limitTime > 0}"  ng-show="{{list.isLimit == 1 && list.tenderSchedule != 100}}" ng-click="getTenderInfoDetail(list.id, list.limitTime)"><span ng-if="list.limitTime > 0">即将开始</span><span ng-if="list.limitTime <= 0">马上投资</span></div>
								<div class="f_timer_box" ng-if="list.limitTime > 0" value="{{list.limitTime}}">{{list.timer}}</div>
								
								
              </div>


          </div>  
        </div>
        <div class="f_click_to_more" ng-click="clickaddlist()">点击加载更多</div>
    </div>
</div>





