<div class="modal" ui-if='modal1' ui-state='modal1' >
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog" ng-model="investBcw">
        <div class="modal-content k_layer" ng-show="investBcw.notNull">
            <div class="modal-body k_layer_txt">
                <p>投资金额不能为空</p>
            </div>
            <div class="common_popup_bottom_btns">
                <button ui-turn-off="modal1" class="single_btn">确定</button>
            </div>
        </div>
        <!--判断投资额是否是100的倍数-->
        <div class="modal-content k_layer" ng-show="investBcw.hundredTimes">
            <div class="modal-body k_layer_txt">
                <p>请输入100的倍数</p>
            </div>
            <div class="common_popup_bottom_btns">
                <button ui-turn-off="modal1" class="single_btn">确定</button>
            </div>
        </div>
        <!--判断投资额是否大于可投金额-->
        <div class="modal-content k_layer" ng-show="investBcw.isRightNumber">
            <div class="modal-body k_layer_txt">
                <p>可投金额不足</p>
            </div>
            <div class="common_popup_bottom_btns">
                <button ui-turn-off="modal1" class="single_btn">确定</button>
            </div>
        </div>
        <!--判断是否实名认证-->
        <div class="modal-content k_layer" ng-show="investBcw.verifiedRealName">
            <div class="modal-body k_layer_txt">
                <p class="leftp">主人，您还未进行实名认证，请认证后进行投资！</p>                
            </div>
            <div class="common_popup_bottom_btns">
                <button ui-turn-off="modal1" class="same_btn">取消</button>
                <button ui-turn-off="modal1"  ng-click="toSomePlace(pathAll.validateIDCard)" class="same_btn">立即认证</button>                
            </div>
        </div>
        <!--判断是否设置交易密码-->
        <div class="modal-content k_layer" ng-show="investBcw.setPayPassWord">
            <div class="modal-body k_layer_txt">
                <p class="leftp">主人，您还未设置交易密码，请设置后进行投资！</p>                
            </div>
            <div class="common_popup_bottom_btns">
                <button ui-turn-off="modal1" class="same_btn">取消</button>
                <button ui-turn-off="modal1"  ng-click="toSomePlace(pathAll.setPayPassword)" class="same_btn">立即设置</button>                
            </div>
        </div>
        <!--判断余额是否充足-->
        <div class="modal-content k_layer" ng-show="investBcw.enoughMoney">
            <div class="modal-body k_layer_txt">
                <p>主人，您的余额不足，请进行充值！</p>
            </div>
            <div ng-controller="PaymentController">
                <div class="common_popup_bottom_btns">
                <button ui-turn-off="modal1" class="same_btn">取消</button>
                <button ui-turn-off="modal1"  ng-click="toRecharge()" class="same_btn">立即充值</button>
                </div>
            </div>
        </div>
        <!--投资-->
        <div class="modal-content k_layer" ng-show="investBcw.doInvestBc" ng-controller="doTenderCon" >
            <div ng-show="popup_pay">
                <div class="modal-body k_layer_txt" bc-focus="input">
                    <input type="password" placeholder="请输入交易密码"  ng-model="payPassword">  
                </div>
                <div class="common_popup_bottom_btns">
                    <button ui-turn-off="modal1"  class="same_btn">取 消</button>
                    <button  ng-click="doTender()" class="same_btn">确 定</button>                    
                </div>               
            </div>
            <div ng-show="pay_success">
                <div class="modal-body k_layer_txt">
                    <p>恭喜您，投资成功</p>  
                </div>
                <div class="common_popup_bottom_btns">
                    <button ui-turn-off="modal1" ng-click="toSomePlace(pathAll.toHome)" class="same_btn">继续投资</button>
                    <button ui-turn-off="modal1" ng-click="toSomePlace(pathAll.investHistory)" class="k_check_log same_btn">查看投资记录</button>
                </div>
            </div>
            <div ng-show="error_password">
                <div class="modal-body k_layer_txt">
                    <p>密码输入错误，请重新输入</p>  
                </div>
                <div class="common_popup_bottom_btns">
                    <button  ng-click="init_popup()" class="single_btn">确定</button>
                </div>
            </div>
            <div ng-show="pay_exception">
                <div class="modal-body k_layer_txt">
                    <p>投资异常，请稍后再试</p>  
                </div>
                <div class="common_popup_bottom_btns">
                <button ui-turn-off="modal1" class="single_btn">确定</button>
            </div>
            </div>                     
        </div>

        <!--判断-->
        <div class="modal-content k_layer" ng-show="investBcw.doInvestNotSuccess">
            <div class="modal-body k_layer_txt">
                <p>投资金额必须大于100</p>
            </div>
            <div class="common_popup_bottom_btns">
                <button ui-turn-off="modal1" class="single_btn">确定</button>
            </div>
        </div>
    </div>
</div>