<div ng-controller="InvestDetailController">

<div ui-content-for="title" >
    <span>{{investsListDetail.planName}}</span>
</div>

<div class="scrollable">
    <div class="k_details_rate k_clear">
      <div class="k_col_6 f_text_aleft">年利率</div>
      <div class="k_col_6">累计加入<span>{{detailtenderPeopleNum}}</span>人</div>  
    </div>
    <div class="k_details_num">{{investsListDetail.annualRate}}<span>%</span><span ng-if="investsListDetail.increaseApr > 0">+{{investsListDetail.increaseApr}}%</span></div>
    <div class="k_clear k_index_txt">  
      <div class="k_col_5  f_text_aleft">可投金额 <span>{{investsListDetail.availableAmount}}</span></div>
    </div>

    <div ng-controller="StagingController">

    <div class="k_details_list" ng-init="getAutoTenderStatus()">    
            <div  class="k_details_tab k_clear" ng-show="isInBc==true&&ismonth==true" ng-click="changeaccountButton(accountButton)">
                <div class="k_col_6" >智能投标<span ng-click="bcChangeUrl(bcAllUrl.smartBid)" class="reminder_icon"><img src="images/mark.png" alt=""></span> </div>
                <div class="k_col_6">
                    <span id="statusT">{{left}}</span>                 
                    <span ng-show="!(accountButton === true)"><img src="images/triangle_down.png" alt=""></span>
                    <span ng-show="accountButton === true"><img src="images/triangle_top.png" alt=""></span>
                </div>
            </div>

            <div ng-show="accountButton === true"  class="k_clear k_details_btn">
                <div ng-click="initaccountButton()" class="k_col_6" ><span id="left">{{left}}</span></div>
                <div  ui-turn-on="payPassWord" class="k_col_6" ng-show="haspaypassword=='1'"><span id="right">{{right}}</span></div>
                <div  class="k_col_6" ng-show="haspaypassword=='0'"  ng-click="nopaypwd_pop()"><span>{{right}}</span></div>
            </div>
            
            <div  ng-show="hasReminder == true">
                <div class="k_clear kindly_reminder">
                    <h3>温馨提示</h3>
                    <p><em>1、</em>智能投标功能，可以帮您省去挑选散标的时间。开启后，系统会自动完成月计划(仅包含期限为1个月和2个月的标的)的投标。</p>
                    <p><em>2、</em>排序规则如下：<br>
                    a）智能投标的先后，按照开启该功能的时间顺序；<br>
                    b）完成智能投标后，自动排到队尾。</p>
                    <p><em>3、</em>智能投标开启状态下，账号内所有可用余额（100元的整数倍）自动全部（含充值金额、到期本金、到期利息和活动奖励等）投标。</p>
                    <div class="down_confirm" ng-click="signreminder()">我知道了</div>                
                </div>
                <div class="kindly_reminder_mask"></div>
            </div>

            <div ng-show="nopaypwd_reminder_show == true">
                <div class="nopaypwd_reminder">
                    <p>主人，您还没有设置交易密码，<br>请设置后进行选择。</p>
                    <div class="f_confirm_reminder"  ng-click="hide_nopaypwd_pop()">确定</div>
                </div>
                <div class="kindly_reminder_mask"></div>
            </div>
            <div class="k_clear">
                <div class="k_col_6 f_text_aleft">买入金额</div>
                <div class="k_col_6">100元起投</div>
            </div>
            <div ng-controller="InvestsController" style="k_bg_gray">
                <div ng-click="getInvestPersonList(investsListDetail.id,investsListDetail.tenderSchedule)" class="k_clear">
                    <div class="k_col_6 f_text_aleft">投资记录</div>
                    <div class="k_col_6">{{investsListDetail.investPersonNum}} 人次></div>
                </div>
            </div>

            <div class="k_clear" ng-click="changeUrl(path.five)">
                <div class="k_col_6 f_text_aleft">资金去向</div>
                <div class="k_col_6">></div>
            </div>
        </div>

        <div ng-show="iftender==true&&fnew==false">
            <div ng-controller="InvestsController" class="k_btn k_details_button" bc-focus="button">
                <button  ng-click="getTenderInfoDetail(investsListDetail.id)">马上投资</button>
            </div> 
        </div>

        <div ng-show="iftender==true&&fnew==true">
            <div ng-controller="InvestsController" class="k_btn k_details_button" bc-focus="button">
                <button  ng-click="getTenderInfoDetail(investsListDetail.id)" style="background-color:#1fd1c2">新手投资</button>
            </div> 
        </div>

        <div ng-show="iftender==false">
            <div class="k_btn k_details_button k_btn_gray"  bc-focus="button">
                <button >马上投资</button>
            </div>
        </div>


    </div>
</div>
<div ui-content-for="modals">
        <div ng-include="'invest_auto.html'"></div>
</div>

</div>

                      