<div ui-content-for="title">
    <span>借款人信息</span>
</div>

<div class="scrollable" ng-controller="BorrowerDetailController">
    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div class="list-group text-left" id="b_list">
            <div class="list-group-item list-group-item-home media">
                <p><span>用户名：</span>{{borrowerInfo.borrowerInfo.userName}}</p>
                <p><span>学历：</span>{{borrowerInfo.borrowerInfo.recordFormalSchoolig}}</p>
                <p><span>职业状态：</span>{{borrowerInfo.borrowerInfo.jobStatus}}</p>
                <p><span>用户ID：</span>{{borrowerInfo.borrowerInfo.userId}}</p>
                <p><span>户口所在地：</span>{{borrowerInfo.borrowerInfo.accountLocation}}</p>
                <p><span>月收入水平：</span>{{borrowerInfo.borrowerInfo.income}}</p>
                <p><span>年龄：</span>{{borrowerInfo.borrowerInfo.age}}</p>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div>
                    <div class="col-xs-4">资料类型</div>
                    <div class="col-xs-4">审核状态</div>
                    <div class="col-xs-4">审核时间</div>
                </div>        
                <div ng-repeat="list in borrowerInfo.literatureReviewInfo">
                    <div class="col-xs-4">{{list.type}}</div>
                    <div class="col-xs-4">{{list.status}}</div>
                    <div class="col-xs-4">{{list.auditTime}}</div>
                </div>       
            </div>  
        </div>
    </div>
</div>
<!--<div ng-controller="PopupController">
                <div ng-init="clickToOpen()"></div>
</div>-->
