<div ui-content-for="title" >
    <span>还款模式详情</span>
</div>

<div class="scrollable text-center" ng-controller="PaymentMethodDetailController" id="p_m_detail">
    <div class="scrollable-content section" >

        <div class="row text-left">
            <div class="col-xs-5">剩余期数：{{investsPaymentMethod.remainPeriods}}</div>
            <div class="col-xs-7">剩余本息：{{investsPaymentMethod.remainPrincipalInterest}}</div>
        </div>
        <div class="row text-left">
            <div class="col-xs-5">已还期数：{{investsPaymentMethod.payoffPeriods}}</div>
            <div class="col-xs-7">已还本息：{{investsPaymentMethod.receivedPrincipalInterest}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-3">还款日期</div>
            <div class="col-xs-3">类型</div>
            <div class="col-xs-3">金额（元）</div>
            <div class="col-xs-3">实际还款日期</div>

        </div>
        <div class="row" ng-repeat="y in investsPaymentMethod.list">
            <div>
                <div class="col-xs-3">{{y.repaymentDate}}</div>
                <div class="col-xs-3">{{y.type}}</div>
                <div class="col-xs-3">{{y.amount}}</div>
                <div class="col-xs-3">{{y.actualRepaymentDate}}</div>
            </div>

        </div>
    </div>
</div>
<!--<div ng-controller="PopupController">
                <div ng-init="clickToOpen()"></div>
</div>-->
