<div class="modal" ui-if='draw' ui-state='draw'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content k_layer">
            <div class="modal-body k_layer_txt">                
                <div class="k_layer_text_left" style="width:156px;">
                    <p>主人，是否投资中变现？</p>
                    <p>点击“是”咨询客服变现</p>
                    <p>点击“否”取消操作</p>
                </div>
            </div>
            <div class="common_popup_bottom_btns">
                <a href='tel:400-616-7070' ui-turn-off="draw" class="btn btn-default">是</a>
                <button ui-turn-off="draw">否</button>
            </div>
        </div>
    </div>
</div>
