<div class="modal" ui-if='payPassWord' ui-state='payPassWord' ng-controller="StagingController">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content k_layer" ng-show="errorMessageIsShow.change_init">
            <div class="modal-body k_layer_txt">
                <div class="k_layer_input" bc-focus="input">
                    <input type="password" placeholder="请输入交易密码"  ng-model="payPassword">
                </div>
            </div>
            <div class="common_popup_bottom_btns">
                <button ui-turn-off="payPassWord" class="btn btn-primary same_btn">取消</button>
                <button  class="btn btn-default same_btn" ng-click="setAutoTender()">确定</button>
            </div>
        </div>
        <div class="modal-content k_layer" ng-show="errorMessageIsShow.change_success">
            <div class="modal-body k_layer_txt">
                <p>修改成功</p>  
            </div>
            <div class="common_popup_bottom_btns">
                <button  ui-turn-off="payPassWord"  class="single_btn">确定</button>
            </div>
        </div>
        <div class="modal-content k_layer" ng-show="errorMessageIsShow.error_password">
            <div class="modal-body k_layer_txt">
                <p>密码输入错误，请重新输入</p>  
            </div>
            <div class="common_popup_bottom_btns">
                <button  ng-click="init_change()"  class="single_btn">确定</button>
            </div>
        </div>
        <div class="modal-content k_layer" ng-show="errorMessageIsShow.change_exception">
            <div class="modal-body k_layer_txt">
                <p>网络异常，请稍后再试</p>  
            </div>
            <div class="common_popup_bottom_btns">
                <button ui-turn-off="payPassWord"  class="single_btn">确定</button>
            </div>
        </div> 
    </div>
</div>
