<div ng-controller="InvestsCouponsController" > 
<div ui-content-for="title" >
    <span>请选择优惠券</span>
</div>
<div ui-content-for="navbarAction">
    <div bc-focus="button">
        <button type="button" ng-click="toConpusRule()"  class="k_top_right_input"/>规则</button>
    </div>
</div>
<div class="coupons scrollable">
    <div class="scrollable-header title">
        <ul class="tab-list two-tab margin-t-1-2rem">
            <li  ng-class="{'current':showtag}" ng-click='bounsClick()'>红包券</li>
            <li ng-class="{'current':!showtag}" ng-click='IncreaseClick()'>加息券</li>
        </ul>
    </div>
    <div id="couponsId" class="scrollable-content">
        <div couponslist='bonuslist' my-title="红包券" ng-show="showtag" my-name='{{info}}' list='data.bounsList' item-click='itemClick(args)'></div>
        <div couponslist='increaseList' my-title="加息券"   ng-show="!showtag" my-name='{{info}}' list='data.increaseList' item-click='itemClick(args)'></div>
    </div>

    <footer class="wx-scrollable-bottom">
        <button class="orange-radius-btn wd-80" ng-click="btnDone()" type="button donebtn">确定</button>
    </footer>
</div>
</div>






