<div ui-content-for="title" >
    <span>投资中可变现</span>
</div>
<div class="scrollable" >
    <div class="scrollable-content section k_privilege">
        <div class="k_privilege_head">投资中可变现</div>
        <div class="k_privilege_main">
            <dl>
                <dt>每月随取1次实现方式：</dt>
                <dd>
                    <ol>
                        <li>点击右上角电话图标致电客服，并按客服指示操作</li>
                        <li>申请使用"每月随取1次"机会，管家将会收取手续费（月计划、季计划为随取额度的     1%；年计划为随取额度的0.5%）</li>
                        <li>本次投资触发的红包奖励，将从本金中扣除</li>
                        <li>每月有且仅有一次投资中取出机会</li>
                    </ol>
                </dd>
            </dl>
        </div>
    </div>
</div>
