<article class="wx-mainbody gray-bg">
    <div class="pro-detail-cont">
        <h2><b>{{investData.typeNidZi}}</b>{{investData.name}}</h2>
        <ul class="wx-detail-info-com margin-t-1-2rem">
            <li><label>年利率：</label><span class="red-font">{{investData.annualRate}}<em ng-if="investData.increase_apr>0">+{{investData.increase_apr|number:2}}%</em></span></li>
            <li><label>借款期限：</label><span class="red-font">{{investData.investmentHorizon}}期</span></li>
            <li><label>还款方式：</label><span>{{investData.paymentMethod}}</span></li>
            <li><label>借款时间：</label><span>{{investData.addTime}}</span></li>
            <li><label>标的进度：</label><span class="progress-wrap"><div class="progress-cont"><div class="progress-bar" style="width: {{investData.borrow_account_scale}}%;"></div> </div><b>{{investData.borrow_account_scale}}%</b> </span></li>
        </ul>
        <div class="invest-title margin-t-1-5rem">还款详情</div>
        <div class="fund-condition">
            <ul class="fund-list">
                <li>
                    <dl>
                        <dt>投资本金</dt>
                        <dd><span class="gold">{{investData.tenderAccount}}</span> 元</dd>
                    </dl>
                    <dl>
                        <dt>待收本息</dt>
                        <dd><span class="gold">{{investData.recover_account_wait2}}</span> 元</dd>
                    </dl>
                </li>
                <li>
                    <dl class="wd100" ng-if="investData.increase_apr>0">
                        <dt>待收加息</dt>
                        <dd><span class="gray">{{investData.tenderAccount*(investData.increase_apr/100)/12*investData.investmentHorizon}}</span> 元</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="btn-area-com margin-t-1-5rem">
        <a ng-click="Detail_invest(investData.id)" class="orange-radius-btn wd-94">继续投资</a>
    </div>
</article>