<article class="wx-mainbody gray-bg">
    <div class="pro-detail-cont">
        <h2><b>{{investData.typeNidZi}}</b>{{investData.name}}</h2>
        <ul class="wx-detail-info-com margin-t-1-2rem">
            <li><label>年利率：</label><span class="red-font">{{investData.annualRate}}<em ng-if="investData.increase_apr>0">+{{investData.increase_apr|number:2}}%</em></span></li>
            <li><label>借款期限：</label><span class="red-font">{{investData.investmentHorizon}}期</span></li>
            <li><label>还款方式：</label><span>{{investData.paymentMethod}}</span></li>
            <li><label>借款时间：</label><span>{{investData.borrowDate}}</span></li>
        </ul>
        <div class="invest-title margin-t-1-5rem">还款详情</div>
        <div class="fund-condition">
            <ul class="fund-list">
                <li>
                    <dl>
                        <dt>投资本金</dt>
                        <dd><span class="gold">{{investData.tenderAccount}}</span> 元</dd>
                    </dl>
                    <dl>
                        <dt>已收本息</dt>
                        <dd><span class="gold">{{investData.recover_account_yes}}</span> 元</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>待收本息</dt>
                        <dd><span class="gold">{{investData.recover_account_wait}}</span> 元</dd>
                    </dl>
                    <dl ng-if="investData.increase_apr>0">
                        <dt>待收加息</dt>
                        <dd><span class="gray">{{investData.recover_account_apr}}</span> 元</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="invest-tab-wrap">
        <table cellpadding="0" cellspacing="0" class="invest-info-tab">
            <tr>
                <th>还款日期</th>
                <th>还款金额（元）</th>
                <th ng-if="investData.increase_apr>0">加息（元）</th>
                <th>状态</th>
            </tr>
            <tr ng-repeat="list in investData.paymentDetail">
                <td>{{list.paymentDate}}</td>
                <td>{{list.paymentAmout}}</td>
                <td ng-if="investData.increase_apr>0">{{list.aprAmout}}</td>
                <td><span ng-class="{true:'green', false:'gold'}[list.state =='已还']">{{list.state}}</span></td>
            </tr>

        </table>
    </div>
</article>