<div ui-content-for="title" >
    <span>绑定手机</span>
</div>
<div class="scrollable" ng-controller="LoginController">
    <div class="scrollable-content section k_ptblr">
        <form role="form" name="reg" novalidate>
            <fieldset>
                <div class="k_input" bc-focus="input">
                    <input type="text"
                           name="mobile"
                           ng-model="phonenumber"                          
                           placeholder="请输入您需要绑定的手机号" required>
                </div>
                <div class="k_input k_reg_yzm k_pr" bc-focus="input" >
                    <input type="text" 
                           ng-required="true" 
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           placeholder="请输入手机验证码" 
                           ng-model="code" >
                    <div ng-show="statusClock == true" ng-click="toGetPhonecheckCode()" class="k_yzm">
                        <p ng-model="countdown">
                            <span ng-show="!countdown" >获取验证码</span>
                            <span ng-show="countdown">已发送</span><span ng-show="countdown">{{countdown}}</span>
                        </p>
                    </div>
                    <div ng-show="statusClock == false" class="k_yzm">
                        <p ng-model="countdown">
                            <span ng-show="!countdown" >获取验证码</span>
                            <span ng-show="countdown">已发送</span><span ng-show="countdown">{{countdown}}</span>
                        </p>
                    </div>
                </div>
            </fieldset>             
            <div class="k_btn k_reg_next" bc-focus="button">
                <button ng-click="phoneNumValidate()">确定</button>
            </div>                                
        </form>
    </div>

    <div class="no_phone_check_pop_con" ng-show="has_phone_check_ok==true">
      <div class="no_phone_check_pop">
         <div class="no_phone_check_tip"><p>手机验证成功</p></div>
         <div class="no_phone_check_btn" ng-click="gotoHome()">确定</div>
      </div>
      <div class="no_phone_check_mask"></div>
    </div>


</div>

