<div ui-content-for="title" >
    <span>实名认证</span>
</div>
<div class="scrollable" ng-controller="RegisterController">
    <div class="scrollable-content section k_ptblr">  
        <form role="form" name="idCardForm">
            <fieldset>
                <div class="k_input"  bc-focus="input">
                    <input type="text"
                           name="realName"
                           placeholder="真实姓名" 
                           required 
                           ng-model="realName" />

                </div>
                <div class="k_input" bc-focus="input">
                    <input type="text" 
                           name="idNumber" 
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           autocomplete="off" 
                           required
                           ng-model="IDCard" 
                           placeholder="身份证号"/>
                </div>	
            </fieldset>
            <div class="k_btn" bc-focus="input">
                <button ng-click="registerRealname()" >下一步</button>
            </div>
            <div class="pos-btm-center"><a href="tel:4006167070"><img src="images/call2.png" alt="" width="6%"></a><span>非大陆居民请联系客服采用人工认证</span></div>
        </form>
    </div>
</div>

