<div ui-content-for="title" >
    <span>加息规则</span>
</div>
<div class="scrollable" >
    <div class="scrollable-content section k_privilege">
        <div class="k_privilege_head">规则</div>
        <div class="k_privilege_main">
            <dl>
                <dt>主人特权加息规则</dt>
                <dd>
                    <ol>
                        <li>每次特权加息有效期为2个月</li>
                        <li>特权加息最高至2%</li>
                    </ol>
                </dd>
            </dl>
            <dl>
                <dt>如何增加？</dt>
                <dd>
                    <ol>
                        <li>注册时使用邀请码，投资加息0.5%</li>
                        <li>使用邀请码邀请好友注册，投资加息0.5%</li>
                    </ol>
                </dd>
            </dl>
            <dl>
                <dt>如何减少？</dt>
                <dd>
                    <ol>
                        <li>特权加息过期</li>
                        <li>每次取现，特权加息归零，重头计算</li>
                    </ol>
                </dd>
            </dl>
        </div>
    </div>
</div>
