<div ng-controller="ProjectsController">
	<div ui-content-for="title" >
		    <span>项目详情</span>
	</div>
	<article class="wx-mainbody">
	    <ul class="tab-list three-tab margin-t-1-2rem">
	        <li ng-if="typeNid=='bld'" ng-class="{true:'current', false:''}[objttype =='borrower']" ng-click="jump_project('borrower')">企业介绍</li>
	        <li ng-if="typeNid!='bld'" ng-class="{true:'current', false:''}[objttype =='borrower']" ng-click="jump_project('borrower')">借款人信息</li>
	        <li ng-class="{true:'current', false:''}[objttype =='intro']" ng-click="jump_project('intro')">项目风控信息</li>
	        <li ng-class="{true:'current', false:''}[objttype =='records']" ng-click="jump_project('records')">投资记录</li>
	    </ul>
	<div ng-if="objttype =='borrower'">
		<div class="scrollable" style="top:4.5rem">
		<div class="scrollable-content">
		<div ng-init="getProjectsBorrower()">
			<element ng-if="projectBorrower">
			<div ng-if="projectBorrower.borrowerInfo.borrow_template=='v1'">
				<div ng-include="'project_borrower_v1.html'"></div>
			</div>
			<div ng-if="projectBorrower.borrowerInfo.borrow_template=='v2'">
				<div ng-include="'project_borrower_v2.html'"></div>
			</div>
			</element>
		</div>
		</div>
		</div>
	</div>
	<div ng-if="objttype =='intro'">
		<div class="scrollable" style="top:4.5rem">
		<div class="scrollable-content" ng-init="getUserInfo()" >
		
		<div ng-init="getProjectsIntro()">
			<element ng-if="projectsIntro">
			<em ng-if="userbind">
				<div ng-if="projectsIntro.borrow.borrowerInfo.borrow_template=='v2'">
					<element ng-switch="projectsIntro.borrow.borrowerInfo.typeNid" attr="{{projectsIntro.borrow.borrowerInfo.typeNid}}">
						<element ng-switch-when="fangchan">
							<div ng-include="'project_intro_fangchan.html'"></div>
						</element>
						<element ng-switch-when="gou">
							<div ng-include="'project_intro_gou.html'"></div>
						</element>
						<element ng-switch-when="rongsan">
							<div ng-include="'project_intro_rongsan.html'"></div>
						</element>
					</element>
				</div>
				<div ng-if="projectsIntro.borrow.borrowerInfo.borrow_template=='v1'">
					<div ng-include="'project_intro_other.html'"></div>
				</div>
			</em>
			<em ng-if="!userhave && !userbind">
				<div ng-include="'project_intro_login.html'"></div>
			</em>
			</element>
		</div>
		</div>
		</div>
	</div>
	<div ng-if="objttype =='records'">
		<div class="scrollable" style="top:4.5rem" ng-init="getUserInfo()">
		<div class="item-detail-cont margin-t-1-2rem scrollable-content"  ng-init="getProjectsRecords()" ui-scroll-bottom="getProjectsRecordsRefresh()">
	        <element ng-if="userProjectRecordsList">
	        <em ng-if="!userProjextRecordsCount">
	        <div class="pro-tips" ng-if="isFullReward !=''"><span class="red-tag">满抢</span>{{isFullReward}}</div>
	    		<dl class="wx-tips-null">
		        <dt><img src="/images/invest-null-img.png" width="20%" /></dt>
		        	<dd>暂无投资记录</dd>
		    	</dl>
	    	</em>
	    	</element>
	    	<em ng-if="userProjextRecordsCount">
	         <div class="pro-tips" ng-if="isFullReward !=''"><span class="red-tag">满抢</span>{{isFullReward}}</div>
	         <!--投资记录-->
	         <div class="txt-cont">
	             <ul class="item-detail-invest-list">
	                 <li ng-repeat="x in userProjectRecordsList" ng-class="{true:'my-invest-item', false:''}[x.tenderer == nowUser.userName]"  a="{{x.tenderer}}" b="{{nowUser.userName}}">
	                     <dl>
	                         <dt>{{x.tenderer}}</dt>
	                         <dd>{{x.investmentTime}}</dd>
	                     </dl>
	                     <span>{{x.investmentAmount}} <b>元</b></span>
	                 </li>
	             </ul>
	         </div>
	         </em>
    	</div>
	</div>
	
	</article>
<footer class="wx-invest-bottom" ng-controller="ProjectsAmountController" ng-init="getAvailableAmount()">
	<element ng-switch="AvailableAmount.borrowStatus">
  		<element ng-switch-when="full">
  			<div class="can-invest-cash"><strong>{{AvailableAmount.lastTenderTime}}</strong> 已抢光</div>
    		<button class="gray-radius-btn wd-80 margin-t-05rem">{{AvailableAmount.statusMessage}}</button>
  		</element>
  		<element ng-switch-when="repay">
  			<div class="can-invest-cash"><strong>{{AvailableAmount.lastTenderTime}}</strong> 已抢光</div>
    		<button class="gray-radius-btn wd-80 margin-t-05rem">{{AvailableAmount.statusMessage}}</button>
  		</element>
  		<element ng-switch-default>
  			<div class="can-invest-cash">可投金额：<strong>{{AvailableAmount.availableAmount_num}}</strong> 元</div>
    		<button class="orange-radius-btn wd-80 margin-t-05rem" ng-if="AvailableAmount.isNew == 1"  ng-click="getTenderInfoDetail(AvailableAmount.id)">新手专享</button>
			<button class="red-radius-btn wd-80 margin-t-05rem" ng-if="AvailableAmount.isFullThreshold ==1"  ng-click="getTenderInfoDetail(AvailableAmount.id)">抢满标</button>
			<button class="orange-radius-btn wd-80 margin-t-05rem" ng-if="AvailableAmount.isNew != 1 && AvailableAmount.isFullThreshold !=1"  ng-click="getTenderInfoDetail(AvailableAmount.id)">立即投资</button>
  		</element>
	</element>
</footer>
<script type="text/ng-template" id="xszxDialog">
    <div class="k_layer">
        <div class="k_layer_txt"><p>仅限新手用户投资</p></div>
        <div class="common_popup_bottom_btns">
            <button ng-click="ok()" class="single_btn">确定</button>
        </div>
    </div>
</script>