
    <div class="item-detail-cont margin-t-1-2rem">
        <div class="txt-cont">
             <ul class="pro-detail-login">
                 <li>
                     <dl>
                         <dt><img src="images/login-key.png" width="20%" /></dt>
                         <dd>请登录后查看</dd>
                     </dl>
                 </li>
                 <li class="btn-area-com">
                     <a href ="" ng-click="projectintrologin()" class="orange-l-radius-btn wd-80">登录</a>
                     <a href="/#/reg" class="blue-l-radius-btn wd-80">注册</a>
                 </li>
             </ul>
        </div>
    </div>
