
    <div class="item-detail-cont margin-t-1-2rem">
        <div class="txt-cont">
            <h2 class="title-pro-detail">项目详情</h2>
            <div class="cont-box-com">
                   <p class="paragraph" ng-bind-html="projectsIntro.borrow.borrow_details.project_info|htmlContent"></p>
                   <p class="paragraph" ng-bind-html="projectsIntro.borrow.borrow_details.project_info_Img|htmlContent"></p>
            </div>
        </div>

        <div class="txt-cont">
            <h2 class="title-pro-detail">风控措施</h2>
            <div class="cont-box-com">
                    <p class="paragraph" ng-bind-html="projectsIntro.borrow.borrowerInfo.riskctrl|htmlContent"></p>
                    <p class="paragraph" ng-bind-html="projectsIntro.borrow.borrowerInfo.riskctrl_Img|htmlContent"></p>
            </div>
        </div>

        <div class="txt-cont">
            <h2 class="title-pro-detail">图片资料</h2>
            <div class="cont-box-com" ng-click="gotoImageView($event)">
                <div ng-bind-html="projectsIntro.borrow.borrow_details.image_info_Img|htmlContent"></div>
            </div>
        </div>
    </div>