
    <div class="item-detail-cont margin-t-1-2rem">
        <div class="txt-cont">
              <h2 class="title-pro-detail">
              	<span ng-if="projectBorrower.borrowerInfo.typeNid=='bld'">
              		企业介绍
              	</span>
              	<span ng-if="projectBorrower.borrowerInfo.typeNid!='bld'">
              		借款人信息
              	</span>
              </h2>
              <div class="cont-box-com">
                   <ul class="pro-detail-txt">
                   		<em ng-if="projectBorrower.borrowerInfo.typeNid=='bld'">
                   			<li>
                   				<span><div class="item-info">
                   					<label>原债务企业介绍：</label>
	                       			<span class="paragraph">
	                             	<em ng-if="projectBorrower.borrowerInfo.debt_enterprises">
	                       				<span class="paragraph" ng-bind-html="projectBorrower.borrowerInfo.debt_enterprises|htmlContent"></span>
	                       			</em>
	                       			<em ng-if="!projectBorrower.borrowerInfo.debt_enterprises">
	                       				未填
	                       			</em>
	                       			</span>
	                         	</div></span>
                   			</li>
                   			<li>
                   				<span><div class="item-info">
                   					<label>交易介绍：</label>
	                       			<span class="paragraph">
	                             	<em ng-if="projectBorrower.borrowerInfo.trans_info">
	                       				<span class="paragraph" ng-bind-html="projectBorrower.borrowerInfo.trans_info|htmlContent"></span>
	                       			</em>
	                       			<em ng-if="!projectBorrower.borrowerInfo.trans_info">
	                       				未填
	                       			</em>
	                       			</span>
	                         	</div></span>
                   			</li>
                   		</em>
                   		<em ng-if="projectBorrower.borrowerInfo.typeNid!='bld'">
                   			<em ng-if="projectBorrower.borrowerInfo.userRole=='user'">
                   			<li><label>姓名：</label><span>{{projectBorrower.borrowerInfo.userName}}</span></li>
                       		<li><label>年龄：</label><span>{{projectBorrower.borrowerInfo.age}}岁</span></li>
                       		<li><label>学历：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.degree">
                       			{{projectBorrower.borrowerInfo.degree}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.degree">
                       			未填
                       		</em>
                       		</span></li>
                       		<li><label>婚姻：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.marriage">
                       			{{projectBorrower.borrowerInfo.marriage}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.marriage">
                       			未填
                       		</em></span></li>
                       		<li><label>户口所在地：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.city">
                       			{{projectBorrower.borrowerInfo.city}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.city">
                       			未填
                       		</em></span></li>
                       		<li><label>职业状态：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.jobStatus">
                       			{{projectBorrower.borrowerInfo.jobStatus}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.jobStatus">
                       			未填
                       		</em></span></li>
                       		<li><label>月收入水平：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.income">
                       			{{projectBorrower.borrowerInfo.income}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.income">
                       			未填
                       		</em>{{projectBorrower.borrowerInfo.income}}</span></li>
                       		<li><label>公司类型：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.companyType">
                       			{{projectBorrower.borrowerInfo.companyType}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.companyType">
                       			未填
                       		</em>{{projectBorrower.borrowerInfo.companyType}}</span></li>
                       		<li><label>公司规模：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.companySize">
                       			{{projectBorrower.borrowerInfo.companySize}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.companySize">
                       			未填
                       		</em></span></li>
                   		</em>
                   		<em ng-if="projectBorrower.borrowerInfo.userRole!='user'">
                   			<li><label>企业名称：</label><span>
                   			<em ng-if="projectBorrower.borrowerInfo.enterpriseInfo.company_alias">
                       			{{projectBorrower.borrowerInfo.enterpriseInfo.company_alias}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.enterpriseInfo.company_alias">
                       			未填
                       		</em></span></li>
                       		<li><label>法定代表人：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.enterpriseInfo.legalperson">
                       			{{projectBorrower.borrowerInfo.enterpriseInfo.legalperson}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.enterpriseInfo.legalperson">
                       			未填
                       		</em></span></li>
                       		<li><label>注册资金：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.enterpriseInfo.reg_capital">
                       			{{projectBorrower.borrowerInfo.enterpriseInfo.reg_capital}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.enterpriseInfo.reg_capital">
                       			未填
                       		</em></span></li>
                       		<li><label>经营期限：</label><span>
                       		<em ng-if="projectBorrower.borrowerInfo.enterpriseInfo.operation_period">
                       			{{projectBorrower.borrowerInfo.enterpriseInfo.operation_period}}
                       		</em>
                       		<em ng-if="!projectBorrower.borrowerInfo.enterpriseInfo.operation_period">
                       			未填
                       		</em></span></li>
                       		<li>
                       			<div class="item-info">
                       				<label>企业简介：</label>
	                       			<span class="paragraph">
	                             	<em ng-if="projectBorrower.borrowerInfo.enterpriseInfo.management_scope">
	                       				<span class="paragraph" ng-bind-html="projectBorrower.borrowerInfo.enterpriseInfo.management_scope|htmlContent"></span>
	                       			</em>
	                       			<em ng-if="!projectBorrower.borrowerInfo.enterpriseInfo.management_scope">
	                       				未填
	                       			</em>
	                       			</span>
	                         	</div>
	                        </li>
                   		</em>
                   		</em>
                   </ul>
              </div>
        </div>

		<em ng-if="projectBorrower.borrowerInfo.typeNid!='bld'">
        <div class="txt-cont">
            <h2 class="title-pro-detail">资料审核信息</h2>
            <div class="wx-radius-box">
            	<table width="100%" cellpadding="0" cellspacing="0" class="tab-detail">
                    <tr>
                        <th>资料类型</th>
                        <th>审核时间</th>
                        <th>审核状态</th>
                    </tr>
							
						<tr ng-repeat="(key, x) in projectBorrower.literatureReviewInfo" ng-if="x.status == 1">
							<td>
								<element ng-switch="x.nid"  attr="{{x.nid}}">
	                    			<element ng-switch-when="card">身份证</element>
	                    			<element ng-switch-when="work">工作证明</element>
	                    			<element ng-switch-when="income">收入证明</element>
	                    			<element ng-switch-when="xinyong">信用报告</element>
	                    			<element ng-switch-when="juzhu">居住证明</element>
	                    			<element ng-switch-when="hukou">户口本</element>
	                    			<element ng-switch-when="marry">结婚证</element>
	                    			<element ng-switch-when="fangchan">房产证</element>
	                    			<element ng-switch-when="xingche">车辆证</element>
	                    			<element ng-switch-when="edu">学历证</element>
	                    			<element ng-switch-when="technical">职称资格证书</element>
	                    			<element ng-switch-when="shidi">实地认证</element>
	                    			<element ng-switch-when="video">视频认证</element>
	                    			<element ng-switch-when="zhizhao">企业营业执照</element>
	                    			<element ng-switch-when="zzjgdmz">组织机构代码证</element>
	                    			<element ng-switch-when="nashui">税务登记证</element>
	                    			<element ng-switch-when="kaihu">开户许可证</element>
	                    			<element ng-switch-when="zhangcheng">企业章程</element>                    			
	                    		</element>
							</td>
							<td>{{x.auditTime}}</td>
							<td><img src="../images/icon-right-green.png" width="20rem" height="20rem" /></td>
						</tr>
						 	
				</table>
            </div>
        </div>
		</em>
        <div class="wx-ad-cont"><img src="../images/ad-2.jpg" width="100%" /></div>
    </div>