<footer class="wx-index-bottom">
    <ul>
        <li>
        	<a href="#/aboutus/index" id="about-baocai" onclick="_hmt.push(['_trackEvent', '了解抱财', 'click'])">了解抱财</a> 
        	<a href="http://kefu.easemob.com/webim/im.html?tenantId=21606" id="online-service" onclick="_hmt.push(['_trackEvent', '在线客服', 'click'])">在线客服</a> 
        	<a href="#" id="switch-pc" onclick="_hmt.push(['_trackEvent', '切换电脑版', 'click'])">切换电脑版</a> 
        	<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.baocai.p2p" id="downapp" onclick="_hmt.push(['_trackEvent', '下载app', 'click'])" id="downapp">下载APP</a></li>
        <li>&copy; 2016抱财网Baocai.com 投资有风险 选择需谨慎</li>
        <li>客服电话：400-616-7070</li>
    </ul>
</footer>