<div ui-content-for="title" >
    <span>注 册 成 功 </span>
</div>
<div class="scrollable" ng-controller="AccountController" ng-init="getUnusedBonusTicketListTotal()">
    <div class="scrollable-content section k_ptblr">
        <div class="k_reg_success ui-center">
        		<img src="images/success_img_icon.png" style="width:10em;" width="" height="" alt="" />
            <p>注册成功</p>
            <p>恭喜您获得<b>{{unusedBonusTicketListTotal.ticketTotalMoney}}元</b>红包券</p>
            <p><a href="#/" id="register-finish-use" onclick="_hmt.push(['_trackEvent', '注册成功后立即使用', 'click'])">立即使用&gt;&gt;</a></p>
            <div class="k_btn"><button ng-click="toHome()" id="register-finish-invest" onclick="_hmt.push(['_trackEvent', '注册成功后马上投资', 'click'])">马上投资</button></div>
        </div>
    </div>
</div>

