<div ui-content-for="title" >
    <span>设置新密码</span>
</div>
<div class="scrollable" ng-controller="ResetController">
    <div class="scrollable-content section k_ptblr">
        <form role="form" name="resetNewPass">
            <fieldset>
                <div class="k_input" bc-focus="input">
                    <input type="password" 
                           ng-required="true" 
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           my-blur="validatePassWord()"
                           ng-model="password"
                           onpaste="return false"
                           placeholder="请输入新密码"/>
                </div>
                <div class="k_input" bc-focus="input">
                    <input type="password" 
                           ng-required="true"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           my-blur="passwordConfirm()"
                           ng-model="repassword"
                           onpaste="return false"
                           placeholder="重输新密码"/>                  
                </div>
            </fieldset>
            <div class="k_btn k_reset_new_password" bc-focus="input">
                <button ng-click="getResetPassword()">完成</button>
            </div> 
        </form>
    </div>
</div>
