<div ui-content-for="title" >
    <span>本息保障计划</span>
</div>
<div class="scrollable" >
    <div class="scrollable-content section k_privilege">
        <div class="k_privilege_head">本息保障计划</div>
        <div class="k_privilege_main k_safeguard_main">
            <h2>风控专业</h2>
            <p>10年专业线下风控经验，保障资产端风险业内最低</p>
            <h2>抵押为主</h2>
            <p>95%匹配的产品，均有抵押（房产、车辆）</p>
            <h2>资产保险</h2>
            <p>世界500强保险公司为主人提供资金保障</p>
            <h2>风险备用</h2>
            <p>在中国银行开设风险备用金专户</p>
            <h2>签约多家银行</h2>
            <p>签约多家银行总行及支行，包括农业银行、工商银行、招商银行、中国银行、建设银行等</p>
            <h2>上市公司持股</h2>
            <p>A股凯乐科技（600260）等联合持股</p>
        </div>
    </div>
</div>
