<div ui-content-for="title" >
    <span>重新设置交易密码</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content section k_ptblr">        
        <form role="form" >
            <fieldset>
                <div class="k_input" bc-focus="input">
                    <input type="password"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           ng-model="newPayPassWord"
                            onpaste="return false"
                           placeholder="设置新的交易密码"/>
                    <div  class="k_error_msg" ng-show="validatePayPassWordShow">{{validateResult}}</div>
                    <div ng-model="errorOfResponse">
                        <div  class="k_error_msg" ng-show="!validatePayPassWordShow && errorOfResponse">{{errorOfResponse}}</div>
                    </div>
                </div>
                <div class="k_input" bc-focus="input">
                    <input type="password"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           ng-model="newPayPassWordC"
                            onpaste="return false"
                           placeholder="确认新密码"  />
                    <div  class="k_error_msg" ng-show="payPasswordConfirmShow">{{validateResult}}</div>
                    <div  class="k_error_msg"></div>
                </div>
            </fieldset>
            <div class="k_btn k_set_password_next" bc-focus="input">
                <button ng-click="resetPayPass()" >确定</button>
            </div> 
        </form>
    </div>
</div>
