<div ui-content-for="title" >
    <span>重新设置交易密码</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content section k_ptblr">    
    
    	<article class="wx-mainbody">
		 <ul class="wx-form-list margin-t-1rem">
		     <li><label>设置交易密码</label>
		     	<input type="password"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           ng-model="newPayPassWord"
                            onpaste="return false"
                           placeholder="设置新的交易密码"/>
		     </li>
		     <li><label>重复交易密码</label>
		     	<input type="password"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           ng-model="newPayPassWordC"
                            onpaste="return false"
                           placeholder="确认新密码"  />
		     </li>
		 </ul>
		
		    <div class="btn-area-com margin-t-1-5rem" bc-focus="input">
		        <a href="javascript:void(0)" class="orange-radius-btn wd-94" ng-click="resetPayPass()" >完成</a>
		    </div>
		</article>    
		
    </div>
</div>
