<div ui-content-for="title" >
    <span>设置交易密码</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content"> 
    
    	<article class="wx-mainbody">
		 <div class="tips-area"><i class="icon-warn"></i>长度在6-16位英文、数字或下划线组合</div>
		 <ul class="wx-form-list margin-t-1rem">
		     <li><label>当前登录密码</label>
		     	<input type="password" 
                           name="password" 
                           autocomplete="off" 
                           required
                           class="form-control"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           placeholder="请输入登录密码"
                            onpaste="return false"
                           ng-model="passwordBc" />
		     </li>
		     <li><label>设置交易密码</label>
		     	<input type="password" 
                           name="payPassword" 
                           autocomplete="off" 
                           required  
                           class="form-control"
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           placeholder="请设置交易密码"
                            onpaste="return false"
                           ng-model="payPassword" />
		     </li>
		     <li><label>重复交易密码</label>
		     	<input type="password" 
                           name="passwordConfirm" 
                           autocomplete="off" 
                           required  
                           class="form-control" 
                           onkeyup="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           oninput="this.value = this.value.replace(/(^\s+)|(\s+$)/g, '')"
                           placeholder="重新输入交易密码"
                            onpaste="return false"
                           ng-model="passwordConfirms" /> 
		     </li>
		 </ul>
		
		    <div class="btn-area-com margin-t-1-5rem" bc-focus="input">
		        <a href="javascript:void(0)"  ng-click="setPayPassword()">完成</a>
		    </div>
		
		</article>
		
    </div>
</div>
