<div class="modal" ui-if='shareRights' ui-state='shareRights'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content k_layer" ng-controller="AccountController">
            <div class="modal-body k_layer_txt k_plr26" ng-init="getInvitationCode()">
                <p style="text-align:left;word-break: break-all;word-wrap: break-word;">您的邀请码为：<span>{{invitationCode}}</span>，好友注册时填写该邀请码，您和好友即可获得0.5%的特权加息!</p>
            </div>
            <div class="common_popup_bottom_btns">                
            	<button ui-turn-off="shareRights" class="single_btn">OK</button>
            </div>

        </div>
    </div>
</div>
