<div ui-content-for="title" >
    <span>智能投标说明</span>
</div>
<div class="scrollable" >
    <div class="scrollable-content section k_privilege">
        <div class="k_privilege_head">温馨提示</div>
        <div class="k_privilege_main k_smart_bid_main">
            <p><em>1、</em>智能投标功能，可以帮您省去挑选散标的时间。开启后，系统会自动完成月计划(仅包含期限为1个月和2个月的标的)的投标。</p>
            <p><em>2、</em>排序规则如下：<br>
            a）智能投标的先后，按照开启该功能的时间顺序；<br>
            b）完成智能投标后，自动排到队尾。</p>
            <p><em>3、</em>智能投标开启状态下，账号内所有可用余额（100元的整数倍）自动全部（含充值金额、到期本金、到期利息和活动奖励等）投标。</p>
        </div>
    </div>
</div>
