
<div ng-controller="AccountController">
    <div ui-content-for="title" class="no_hide">
        <!--<div class="f_drop_menu_open">我的交易记录&nbsp;&nbsp;<i class="fa fa-caret-down"></i></div>
        <ul class="f_drop_menu_list">
            <li>我的交易记录</li>
            <li >充值</li>
            <li>投资</li>
            <li>转让</li>
            <li>取现</li>
            <li>投资回款</li>
            <li>额外收益</li>
        </ul>-->
        <select ng-model="currentValue" ng-change="change()" ng-options="value.name for value in values">
            <option value="" ng-show="false">请选择</option>
        </select>
    </div>
    <div class="scrollable" ng-init="accountLogs()">
        <div class="scrollable-content" ng-init="change()" ui-scroll-top='change()' ui-scroll-bottom="bottom()">
            <div class="f_trade_list_header" >
                <div class="f_col01"><p>交易类型/时间</p></div>
                <div class="f_col02">金额(元)</div>
                <div class="f_col03"><p>可用余额(元)</p></div>
            </div>
            <div ng-repeat="accountLog in accountLogs">
                <div class="f_trade_list_data" >
                    <div class="f_col01">
                        <b>{{accountLog.type}}</b>
                        <em>{{accountLog.addTime}}</em>
                    </div>
                    <div class="f_col02"><em class="reduce">{{accountLog.account}}</em></div>
                    <div class="f_col03"><p>{{accountLog.balance}}</p></div>			
                </div>
            </div>

            <!--<div class="f_more_trade_list">正在加载...</div>
                <div class="f_trade_list_data">
                <div class="f_col01">
                    <b>【月计划】回款</b>
                    <em>2015-08-27 15:44</em>
                </div>
                <div class="f_col02"><em class="increase">+101.00</em></div>
                <div class="f_col03"><p>922.00</p></div>			
            </div>
            <div class="f_trade_list_data">
                <div class="f_col01">
                    <b>特权加息收益</b>
                    <em>2015-08-27 15:44</em>
                </div>
                <div class="f_col02"><em class="increase">+1.00</em></div>
                <div class="f_col03"><p>821.00</p></div>			
            </div>-->
        </div>
    </div>
</div>