<div ui-content-for="title" >
    <span>提现</span>
</div>
<div class="scrollable" ng-controller="PresentController">
    <div class="scrollable-content section k_ptblr" ng-init="getBankInfo()" > 
        <form role="form" >
            <fieldset>       
                <div class="k_cash"  ng-model="info">
                    <div class="k_cash_bank">
                        <p>{{info.bankName}}</p>
                        <p>尾号{{info.bankCard}}</p>
                    </div>
                    <div class="k_clear k_cash_money">
                        <div class="k_col_6">可提现金额</div>
                        <div class="k_col_6 ">{{info.availableBalance}}元</div>
                    </div>
                    <div class="k_cash_input" bc-focus="input"> 
                        <label>提现金额</label>
                        <input type="text"
                               onkeyup="this.value = this.value.replace(/[^0-9Xx|.]/g, '')"
                               onpaste="return false"
                               placeholder="请输入不少于50元的金额"
                               ng-model ="cashMoney"
                               />
                    </div>
                    <!--   onkeyup="this.value = this.value.replace(/[^0-9Xx|.]/g, '')" -->
                    <div class="k_pr k_find_deal_password_yzm" ng-model="checkCodeIsError" >
                        <div class="k_find_deal_password_num"   ng-show = '(info.phone)'>手机号：{{info.phoneShow}}</div>
                        <present-directive>

                        </present-directive>
                        <!--                    <input type='hidden'  ng-model ="phone.phone" value="">-->
                        <div class="k_yzm"  >
                            <p ng-model="countdown">
                                <span ng-click="presentPhoneCode()"  ng-show="!countdown" >发送验证码</span>
                                <span ng-show="countdown">已发送</span><span ng-show="countdown">{{countdown}}</span>
                            </p>
                        </div>
                        <div class="k_error_msg" ng-show="errorCode" ng-model="errorCode">{{errorCode.value}}</div>
                    </div>
                    <div class="k_input" bc-focus="input">
                        <input type="text" 
                               ng-model ="cashCode"
                               onkeyup="this.value = this.value.replace(/\D/g, '')"
                               onpaste="return false"
                               placeholder="输入验证码"  />
                    </div>
                </div>
            </fieldset>
            <div class="k_btn k_set_password_next" bc-focus="button">
                <button type="button" value="立即提现" ng-click="doPresent()" />立即提现</button>
            </div> 
        </form>
    </div>
</div>
<script type="text/ng-template" id="presentPopUp">
    <div class="k_layer" >
    <div class="k_layer_txt" style="padding-bottom:30px">
    <h3>请输入交易密码</h3>
    <div class="k_layer_input">
    <input type="password" ng-model="paypassword"> 
    </div>
    </div>
    <div class="k_clear">
        <div class="common_popup_bottom_btns">
          <button ng-click="cancel()" class="same_btn gray-font">取消</button>
          <button ng-click="doPresentCreate()" class="same_btn">确定</button>          
        </div>
    </div>
    </div>
</script>
<script type="text/ng-template" id="payPassword">
    <div class="k_layer" >
    <div class="k_layer_txt">
    <p>您还未设置交易密码</p>
    <p>请设置后进行投资！</p>
    </div>
    <div class="k_clear">
        <div class="common_popup_bottom_btns">
            <button ng-click="toSomePlace(pathAll.setPayPassword)" class="same_btn">确定</button>
            <button ng-click="cancel()" class="same_btn gray-font">取消</button>
        </div>
    </div>
    </div>
</script>

