<div ui-content-for="title" >
    <span>添加银行卡</span>
</div>
<div class="scrollable" ng-controller="PresentController">
    <div class="scrollable-content section k_ptblr" ng-init = 'getBankBasicInfo()' ng-model="bascInfo">    
        <form role="form" name="myTestForm" >
            <fieldset>
                <div class="k_user_bank">
                    <p><label>开户名 </label><span>{{bascInfo.realName.realname}}</span></p>
                    <p>
                        <label>选择银行 </label>
                        <select  ng-model="bankCode.bankCode"  id="" class="k_bank">
                            <option value="" >请选择</option>
                            <option value="{{bankCode}}" ng-repeat="bankCode in key" >{{bascInfo.bankList[bankCode]}}</option>
                        </select>
                    </p>
                    <!--- ng-selected = 'k == 1'-->
                    <p class="k_small_mt_10">
                        <label>开户所在地 </label>
                        <select  ng-model="areas.area.id"   ng-change = 'getAreaSubject()' >
                            <option value="" >请选择</option>
                            <option value="{{area.id}}" ng-repeat="area in bascInfo.areasList" ng-if="area.name">{{area.name}}</option>
                        </select>
                        <select ng-model = 'areaSubject.city.id'>
                            <option  value=""  >请选择</option>
                            <option value="{{ city.id}}" ng-repeat="city in areaSubject" ng-if="city.name">{{city.name}}</option>
                        </select>
                    </p>
                    <p class="k_small_mt_10" bc-focus="input"><label for="">开户支行</label><input type="text" ng-model="branch" placeholder="例如中关村支行" ></p>
                    <p bc-focus="input"> <label for="">银行卡号</label><input type="text" ng-model='bankCardOne'    onkeyup="this.value = this.value.replace(/\D/g, '')"></p>
                    <p class="k_small_mt_10" bc-focus="input"><label for="">确认卡号</label><input type="text"  ng-model="bankCardTwo"    onkeyup="this.value = this.value.replace(/\D/g, '')"></p>
                </div>
            </fieldset>
            <div class="k_error_msg" ng-show="errorMessage" ng-model="errorMessage">{{errorMessage}}</div>
            <div class="k_btn" bc-focus="button">
                <button type="button" value="确定" ng-click="addUserBank()" />确定</button>
            </div> 
        </form>
    </div>
</div>

