<div ui-content-for="title" >
    <span>红包券详情</span>
</div>
<div class="scrollable" ng-controller="AccountController">
    <div class="scrollable-content section k_p0" ng-init="getBonusTicketDetail()">
       <div class="f_packets_detail_con" ng-model="bcAllUrl">
		 <h3 class="packets_detail_title">抱财金融管家{{bonusTicketDetail.money}}元红包券</h3>
		 <div class="packets_detail_prize"><em>￥</em><b>{{bonusTicketDetail.money}}<b><i>(未使用)<i></div>
		 <div class="packets_detail_text">
		 	<dl>
				<dt>有效日期：</dt>
				<dd>{{bonusTicketDetail.startExpiredTime}}至{{bonusTicketDetail.endExpiredTime}}</dd>
				<dt>使用条件：</dt>
				<dd>投资满{{bonusTicketDetail.useMoney}}元<span ng-show="bonusTicketDetail.catName=='E' || bonusTicketDetail.catName=='F'">(仅限首投)</span> <br />(仅限带“红包券”字标识的项目)</dd>
				<dt ng-if="bonusTicketDetail.borrow_period">使用条件：</dt>
				<dd ng-if="bonusTicketDetail.borrow_period">{{bonusTicketDetail.borrow_period}}</dd>
				<dt>补充说明：</dt>
				<dd class="totalline">抱财金融管家上线，为回馈新老用户特设多种红包券，符合使用条件时自动触发。本红包券可在抱财PC端和抱财金融管家使用。</dd>
		 	</dl>
		 </div>
		 <div class="f_touzhi_btn" ng-click="bcChangeUrl(bcAllUrl.home)">马上投资</div>
       </div>
    </div>
</div>
