<div class="page coupons scrollable" ng-controller="couponsController">
	<div class="scrollable-header title" ng-show="data.both">
        <div class="col-xs-6 center">
            <span ng-class="{'selected':!showtag}" ng-click='IncreaseClick()'>加息券({{jianum}})</span>
        </div>
        <div class="col-xs-6 center" style="border-left:1px solid #eee;">
            <span ng-class="{'selected':showtag}" ng-click='bounsClick()'>红包券({{hbnum}})</span>
        </div>
    </div>
    <div id="test"></div>
    <div style="height: 100%;" ng-touchstart="touchStart($event)" ng-touchmove="touchMove($event)" ng-touchend="touchEnd($event)">
        <div id="hblist" style="height: 100%;left:{{hbaoleft}}" couponslist='bounsList' my-title="红 包 券" my-name='{{info}}' list='data.bounsList' item-click='itemClick(args)' class="tablist" ng-class="{'mytrans':isTrans}"></div>
        <div id="jxlist" style="height: 100%;left:{{jiaxileft}}" couponslist='increaseList' my-title="加 息 券" my-name='{{info}}' list='data.increaseList' item-click='itemClick(args)' class="tablist" ng-class="{'mytrans':isTrans}"></div>
    </div>
    <div class="scrollable-footer" ng-show="data.showDone">
        <button type="button donebtn" class="btn btn-lg btn-block" ng-click="btnDone()">确  定</button>
    </div>  	
</div>
