<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
        <meta name="format-detection" content="telphone=no, email=no"/>
        <!-- ReactJS 共享包和 LESS包 -->
        <script src="react/bundle.common.js"></script>
        <link rel="stylesheet" type="text/css" href="react/bundle.style.css">

        <title>首页</title>

    </head>
    
    <body>
        <div id="app-body"></div>
        <script src="react/bundle.home.js"></script>
    </body>
</html>
