<div class='page' ng-controller="InvestingController">
	<div class="row abtitle">
		<div class="columns">
			<span>剩余可投</span><span class="right">{{test}}元</span>
		</div>
		<div class="columns">
			<span>账户可用余额</span><span class="right">{{test}}元<span class="lt20">充值<span></span>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<span>投资金额</span><span class="right"><input placeholder="请输入100整数倍金额"></input>元<image src="image/tenderCalculator.png" width="32" height="32"></span>
		</div>
	</div>
	<div class="row columns">
		<a class="expanded button" href="#">立即投资</a>
	</div>
</div>